{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Tests" %}


{% block sidebar %}


	
	
{% endblock %}



{% block content %}


<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('test') }}">Tests</a></li>
</ul>



<h1>Tests</h1>




<ul>
    {% for entity in entities %}
        <li style="margin-bottom:20px;" {% if entity.featured == 1 %}class="featured"{% endif %}">
            <a href="{{ path('test_show', { 'id': entity.id }) }}" class="title">{{ entity.title }}</a><br/>
            {{ entity.body|truncate(200) }}
        </li>
    {% endfor %}
</ul>





{{ pager|raw }}




{% endblock %}

