{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% form_theme form 'ApplicationAnunciosBundle:Form:fields.html.twig' %}

{% block title "Crear test" %}

{% block content %}

<h1>Crear Test</h1>

<style>
TEXTAREA.xlarge{width:430px}
#application_anunciosbundle_posttype_type label{float:none;margin:0 20px 0 5px}
.dates input{width:80px}
</style>

{% if app.session.get('admin') %}

<form action="{{ path('test_create') }}" method="post" {{ form_enctype(form) }}>

	{{ form_errors(form) }}




	


	{{ form_row(form.title, { 'label': 'Titulo' }) }}
	{{ form_row(form.tag, { 'label': 'Tag' }) }}
	
	{{ form_row(form.body, { 'label': 'Descripción' }) }}
	
	{{ form_row(form.questions, { 'label': 'Preguntas' }) }}
	{{ form_row(form.replies, { 'label': 'Respuestas' }) }}
	


	


	<div class="actions">
        <button type="submit" class="btn primary" style="width:150px">Publicar</button>
	</div>

	{{ form_row(form._token) }}

</form>

{% else %}
	Area restringida, solo accesible para administradores
{% endif %}

{% endblock %}