{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title entity.title %}


{% block sidebar %}



	
	
{% endblock %}



{% block content %}



<script src="{{ asset('bundles/applicationanuncios/js/prettify/prettify.js') }}" type="text/javascript"></script>
<link href="{{ asset('bundles/applicationanuncios/js/prettify/prettify.css') }}" type="text/css" rel="stylesheet" />
<style>
.answers{list-style-type:none;margin-left:15px}
.answers label{float:none}
.prettyprint{background:#efefef}
</style>


<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('test') }}">Tests</a></li>
</ul>



<h1>{{ entity.title }}</h1>


<form method="post" action="{{ path('test_result', { 'id': entity.id }) }}">
	{{ entity.questions|raw }}
	<input id="check_quiz" type="submit" class="btn primary" value="Ver resultados" />
</form>




{% endblock %}




{% block script_load %}
	prettyPrint();
	
	// restart
	$('input:radio').attr('checked',false);
{% endblock %}