{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Dashboard" %}

{% block sidebar %}

	<a href="{{ path('project_new') }}" class="btn large primary">Publicar proyecto</a><br/>
	
	{% if users %}
	
		<b>Gente de tu zona</b><br/><br/>

	    {% for user in users %}


				<img src="{{ user.getAvatar('mini') }}" width="35" height="35" style="float:left;margin-right:9px"/>
				<div style="float:left">
	            	<a href="{{ path('user_show', { 'id': user.id }) }}" style="padding-top:0">{{ user.name|truncate(20) }}</a>
					{{ categories[ user.categoryid ] }}
				</div>
				<br class="clear"/><br/>
		

	    {% endfor %}

	{% endif %}
	

{% endblock %}


{% block content %}

	<ul class="breadcrumb">
	  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
	  <li><a href="{{ path('city') }}">Ciudades</a> <span class="divider">/</span></li>
	  <li><a href="{{ path('city_show', { 'id': city.id }) }}">{{ city.name }}</a></li>
	</ul>
	
	<h1>Actividad en {{ city.name }}</h1>


	<b>Ideas para hacer</b><br/><br/>
	



	{% if ideas %}
	    <ul>
	        {% for idea in ideas %}
	            <li style="margin-bottom:20px;">
	                <b>{{ categories_project[ idea.getCategoryId() ] }}</b><br/>
	                <a href="{{ path('project_show', { 'id': idea.id }) }}" class="title">{{ idea.title }}</a><br/>
	                {{ idea.body|truncate(200) }}<br/>
	                <span class="date">{{ idea.date|date('d/m/Y') }}</span>
	            </li>
	        {% endfor %}
	    </ul>
	
	{% else %}
	    sin resultados
	{% endif %}
	
	


{% endblock %}