{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Administrar eventos" %}


{% block sidebar %}

	<a href="{{ path('event_new') }}" class="btn btn-large btn-primary">Publicar evento</a>



{% endblock %}



{% block content %}


<h1>Administrar eventos</h1>



{% if entities %}

	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Evento</th>
				<th>Apuntados</th>
				<th>Visitas</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
	    {% for entity in entities %}

			{% if entity.featured == 1 %}
				{% set featured = 'NULL' %}
			{% else %}
				{% set featured = 1 %}
			{% endif %}

	        <tr>
				<td>
					<a href="{{ path('event_show', { 'id': entity.id, 'slug': entity.slug }) }}">{{ entity.title }}</a>
					<br/><span class="date">{{ entity.datestart|date('d/m/Y') }} {% if entity.location %}- {{ entity.location }}{% endif %}</span>
				</td>
				<td>{{ entity.users }}</td>
				<td>{{ entity.visits }}</td>
				<td nowrap="nowrap"><a href="{{ path('event_edit', { 'id': entity.id }) }}" class="btn">editar</a> <a href="{{ path('event_admin_featured', { 'id': entity.id, 'value': featured }) }}" class="btn {% if entity.featured %}btn-primary{% endif %}">&#9733;</a></td>
	        </tr>
	    {% endfor %}
	    </tbody>
	</table>
	{{ pager|raw }}
{% else %}
	sin resultados, prueba con otra busqueda
{% endif %}




{% endblock %}