{% set nav_event = 1 %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Eventos" %}


{% block sidebar %}
	<a href="{{ path('event_new') }}" class="btn large primary">Publicar evento</a>

{% endblock %}



{% block content %}



{% if users %}
	<div style="background:#FFFFCC;padding:10px;margin-bottom:10px">
	<b style="display:block;margin-bottom:10px;font-weight:bold">Gente por conocer</b>

	<a href="{{ path('user_invite') }}" style="float:right;margin-top:10px;font-size:16px;">Invitar usuarios</a>
	
	{% for user in users %}
		<a href="{{ path('user_show', { 'id': user.id }) }}" data-original-title="<b>{{ categories[ user.getCategoryId() ] }}</b><br/>{{ user.getName() }}" rel="twipsy" style="float:left;margin-right:5px"><img src="{{ user.getAvatar('normal') }}" width="38" height="38"/></a>
	{% endfor %}
	<br class="clear"/>
	</div>
{% endif %}


<h1>Eventos en {{ city.name }}, {{ country.name }}</h1>




<ul style="list-style-type:none;margin:0">
    {% for entity in entities %}
        <li style="margin-bottom:20px;" {% if entity.featured == 1 %}class="featured"{% endif %}">
		


				
	            <a href="{{ path('event_show', { 'id': entity.id }) }}" class="title">{{ entity.title }}</a><br/>
				<b>{{ entity.datestart|date('d/m/Y H:i') }}</b>
				
				{% if entity.users %}
					<span class="users">{{ entity.users }}</span>
				{% endif %}
				
				<br/>
	            {{ entity.body|truncate(200) }}
				<br/>
				<a href="{{ path('city_show', { 'id': entity.getCityId() }) }}" class="date">{{ entity.location }}</a>

        </li>
    {% endfor %}
</ul>





{{ pager|raw }}




{% endblock %}