{% set nav_event = 1 %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title %}Eventos en {{ city.name }}, {{ country.name }}{% endblock %}


{% block sidebar %}
	<a href="{{ path('event_new') }}" class="btn large primary">Publicar evento</a>

	<br/><b>Top ciudades</b><br/><br/>

	<ul>
    {% for city_aux in cities %}
		<li><a style="display:inline" href="{{ path('event_city', { 'id': city_aux.id }) }}">{{ city_aux.name }}</a> ({{ city_aux.total }})</li>
    {% endfor %}
	</ul>
	
	<b>Suscribirse</b><br/><br/>
	<ul>
		<li><a style="display:inline" href="{{ path('event_feed') }}?id={{ city.id }}" target="_blank">RSS</a></li>
		<li><a style="display:inline" href="{{ path('event_calendarcity', { 'id': city.id }) }}">iCal</a></li>
		<li><a style="display:inline" href="http://twitter.com/betabeers" target="_blank">Twitter</a></li>
	</ul>


{% endblock %}



{% block content %}



{% if users %}
	<div style="background:#FFFFCC;padding:10px;margin-bottom:10px">
	<b style="display:block;margin-bottom:10px;font-weight:bold">Gente por conocer</b>

	<a href="{{ path('user_invite') }}" style="float:right;margin-top:10px;font-size:16px;">Invitar usuarios</a>
	
	{% for user in users %}
		<a href="{{ path('user_show', { 'id': user.id, 'slug': user.slug }) }}" data-original-title="<b>{{ categories[ user.getCategoryId() ] }}</b><br/>{{ user.getName() }}" rel="twipsy" style="float:left;margin-right:5px"><img src="{{ user.getAvatar('normal') }}" width="38" height="38"/></a>
	{% endfor %}
	<br class="clear"/>
	</div>
{% endif %}


<h1>Eventos en {{ city.name }}, {{ country.name }}</h1>




<ul style="list-style-type:none;margin:0">
    {% for entity in entities %}

			{% if entity.date_now %}
				<li style="margin-bottom:10px;background:url('{{ asset('bundles/applicationanuncios/images/calendar.png') }}') no-repeat left center;padding:10px;padding-left:41px;font-weight:bold;font-size:15px;color:#404040">{{ entity.date_now }}</li>
			{% endif %}
	
	
			<li style="margin-bottom:20px;margin-left:39px" {% if entity.featured == 1 %}class="featured"{% endif %}">
		


				
	            <a href="{{ path('event_show', { 'id': entity.id, 'slug': entity.slug }) }}" class="title">{{ entity.title }}</a><br/>
				<b>{{ entity.datestart|date('H:i') }}</b><br/>
				

				
				<br/>
	            {{ entity.body|truncate(200) }}
				<br/>
				<a href="{{ path('city_show', { 'id': entity.getCityId() }) }}" class="date">{{ entity.location }}</a>
				
				{% if entity.users %}
					<div style="padding-top:5px">
						<span class="users" style="margin-left:0;width:34px;height:34px;background-color:#efefef;float:left;margin-right:5px;background-position:10px center"><span style="position:relative;top:7px;left:10px;">{{ entity.users }}</span></span>
						{% for user in entity.users_list %}
							<img src="{{ user.getAvatar('normal') }}" width="34" height="34" data-original-title="<b>{{ categories[ user.getCategoryId() ] }}</b><br/>{{ user.getName() }}" rel="twipsy" style="float:left;margin-right:5px"/>
						{% endfor %}
						<br class="clear"/>
					</div>
				{% endif %}

        </li>
    {% endfor %}
</ul>





{{ pager|raw }}




{% endblock %}