{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% form_theme edit_form 'ApplicationAnunciosBundle:Form:fields.html.twig' %}

{% block title "Editar evento" %}

{% block content %}

<h1>Editar evento</h1>

<style>
TEXTAREA.xlarge{width:430px}
#application_anunciosbundle_posttype_type label{float:none;margin:0 20px 0 5px}


.dates input{width:80px}
.dates select{width:60px}
#application_eventbundle_eventtype_resources{height:70px}
</style>

{% if app.session.get('id') %}

<form class="form-horizontal" action="{{ path('event_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

	{{ form_errors(edit_form) }}




	


	{{ form_row(edit_form.title, { 'label': 'Titulo' }) }}
	
	{{ form_row(edit_form.body, { 'label': 'Descripción' }) }}
	
	{{ form_row(edit_form.address, { 'label': 'Dirección' }) }}

	

	<div id="geo">
		{{ form_row(edit_form.location, { 'label': 'Localidad' }) }}
		<div class="hide">
			{{ form_row(edit_form.country_id, { 'label': 'country' }) }}
			{{ form_row(edit_form.city_id, { 'label': 'city' }) }}
		</div>
	</div>
	
	{{ form_row(edit_form.url, { 'label': 'Web' }) }}
	
	
	<div class="dates">
		<div class="control-group">
			<label for="application_eventbundle_eventtype_date_start" class=" required">Fecha inicio</label>
			<div class="controls">
			<input type="text" id="application_eventbundle_eventtype_date_start" name="application_eventbundle_eventtype[date_start]" required="required" class="xlarge " rows="9" value="{{ entity.getDateStart() | date('d-m-Y') }}"> &nbsp;
			<select name="h_start">
			{% for i in hours %}
				<option value="{{ i }}" {% if i == h_start %}selected="selected"{% endif %} >{{ i }}</option>
			{% endfor %}
			</select>
			:
			<select name="m_start">
			{% for i in minutes %}
			  <option value="{{ i }}" {% if i == m_start %}selected="selected"{% endif %} >{{ i }}</option>
			{% endfor %}
			</select>
			</div>
		</div>
		<div class="control-group">
			<label for="application_eventbundle_eventtype_date_end" class=" required">Fecha fin</label>
			<div class="controls">
			<input type="text" id="application_eventbundle_eventtype_date_end" name="application_eventbundle_eventtype[date_end]" required="required" class="xlarge " rows="9" value="{{ entity.getDateEnd() | date('d-m-Y') }}"> &nbsp;
			<select name="h_end">
			{% for i in hours %}
			  <option value="{{ i }}" {% if i == h_end %}selected="selected"{% endif %} >{{ i }}</option>
			{% endfor %}
			</select>
			:
			<select name="m_end">
			{% for i in minutes %}
			  <option value="{{ i }}" {% if i == m_end %}selected="selected"{% endif %} >{{ i }}</option>
			{% endfor %}
			</select>
			</div>
		</div>
	</div>

	{{ form_row(edit_form.hashtag, { 'label': 'Hashtag' }) }}
	
	<div id="old" style="display:none">
		{{ form_row(edit_form.resources, { 'label': 'Recursos' }) }}
	</div>

	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Guardar cambios</button> &nbsp;
		<a href="{{ path('event_show', { 'id': entity.id, 'slug': entity.slug }) }}" class="btn">Cancelar</a> &nbsp;

		{% if app.session.get('admin') %}	
			<a href="{{ path('event_delete', { 'id': entity.id }) }}" class="btn btn-danger pull-right">Eliminar</a>
		{% endif %}
	</div>

	{{ form_row(edit_form._token) }}

</form>

{% else %}
	Area restringida, solo accesible para usuarios
{% endif %}

{% endblock %}

{% block script_load %}
	
autoGeo();


$( ".dates input" ).datepicker({ firstDay: 1 });


{% if pasado %}
	$('#old').show();
{% endif %}


{% endblock %}