{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% form_theme edit_form 'ApplicationAnunciosBundle:Form:fields.html.twig' %}

{% block title "Editar evento" %}

{% block content %}

<h1>Editar evento</h1>

<style>
TEXTAREA.xlarge{width:430px}
#application_anunciosbundle_posttype_type label{float:none;margin:0 20px 0 5px}

.dates div.xlarge div{display:inline;padding-right:15px}
	.dates div.xlarge select{width:65px}
</style>

{% if app.session.get('id') %}

<form action="{{ path('event_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

	{{ form_errors(edit_form) }}




	


	{{ form_row(edit_form.title, { 'label': 'Titulo' }) }}
	
	{{ form_row(edit_form.body, { 'label': 'Descripción' }) }}
	


	

	<div id="geo">
		{{ form_row(edit_form.location, { 'label': 'Localización' }) }}
		<div class="hide">
			{{ form_row(edit_form.country_id, { 'label': 'country' }) }}
			{{ form_row(edit_form.city_id, { 'label': 'city' }) }}
		</div>
	</div>
	
	{{ form_row(edit_form.url, { 'label': 'Web' }) }}
	
	<div class="dates">
		{{ form_row(edit_form.date_start, { 'label': 'Fecha inicio' }) }}
		{{ form_row(edit_form.date_end, { 'label': 'Fecha fin' }) }}
	</div>

	<div class="actions">
		<button type="submit" class="btn primary">Guardar cambios</button> &nbsp;
		<a href="{{ path('event_show', { 'id': entity.id }) }}" class="btn">Cancelar</a> &nbsp;

		{% if app.session.get('admin') %}	
			<a href="{{ path('event_delete', { 'id': entity.id }) }}" class="btn danger pull-right">Eliminar</a>
		{% endif %}
	</div>

	{{ form_row(edit_form._token) }}

</form>

{% else %}
	Area restringida, solo accesible para usuarios
{% endif %}

{% endblock %}

{% block script_load %}
	
autoGeo();







{% endblock %}