{% set nav_event = 1 %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Eventos" %}


{% block sidebar %}
	<a href="{{ path('event_new') }}" class="btn large primary">Publicar evento</a>

{% endblock %}



{% block content %}


<h1>Eventos</h1>




<ul style="list-style-type:none;margin:0">
    {% for entity in entities %}
        <li style="margin-bottom:20px;" {% if entity.featured == 1 %}class="featured"{% endif %}">
		


				
	            <a href="{{ path('event_show', { 'id': entity.id }) }}" class="title">{{ entity.title }}</a><br/>
				<b>{{ entity.date_start|date('d/m/Y H:i') }}</b>
				
				{% if entity.users %}
					<span class="users">{{ entity.users }}</span>
				{% endif %}
				
				<br/>
	            {{ entity.body|truncate(200) }}
				<br/>
				<a href="{{ path('event_city', { 'id': entity.getCityId() }) }}" class="date">{{ entity.location }}</a>

        </li>
    {% endfor %}
</ul>





{{ pager|raw }}




{% endblock %}