{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% form_theme form 'ApplicationAnunciosBundle:Form:fields.html.twig' %}

{% block title "Publicar evento" %}

{% block content %}

<h1>Publicar evento</h1>

<style>
TEXTAREA.xlarge{width:430px}
#application_anunciosbundle_posttype_type label{float:none;margin:0 20px 0 5px}



.dates input{width:80px}
.dates select{width:60px}
</style>


{% if app.session.get('admin') != 1 %}
	Area restringida, solo accesible para administradores
{% else %}

{% if app.session.get('id') %}

<form action="{{ path('event_create') }}" method="post" {{ form_enctype(form) }}>

	{{ form_errors(form) }}




	


	{{ form_row(form.title, { 'label': 'Titulo' }) }}
	
	{{ form_row(form.body, { 'label': 'Descripción' }) }}
	
	{{ form_row(form.address, { 'label': 'Dirección' }) }}

	

	<div id="geo">
		{{ form_row(form.location, { 'label': 'Localización' }) }}
		<div class="hide">
			{{ form_row(form.country_id, { 'label': 'country' }) }}
			{{ form_row(form.city_id, { 'label': 'city' }) }}
		</div>
	</div>
	
	{{ form_row(form.url, { 'label': 'Web' }) }}
	

	
	<div class="dates">
		<div class="clearfix ">
			<label for="application_eventbundle_eventtype_date_start" class=" required">Fecha inicio</label>
			<div class="input">
				<input type="text" id="application_eventbundle_eventtype_date_start" name="application_eventbundle_eventtype[date_start]" required="required"    class="xlarge" rows="9" value="" /> &nbsp;
				<select name="h_start">
				{% for i in hours %}
					<option value="{{ i }}">{{ i }}</option>
				{% endfor %}
				</select>
				:
				<select name="m_start">
				{% for i in minutes %}
				  <option value="{{ i }}">{{ i }}</option>
				{% endfor %}
				</select>
			</div>
		</div>
		<div class="clearfix ">
			<label for="application_eventbundle_eventtype_date_end" class=" required">Fecha fin</label>
			<div class="input">
				<input type="text" id="application_eventbundle_eventtype_date_end" name="application_eventbundle_eventtype[date_end]" required="required"    class="xlarge" rows="9" value="" /> &nbsp;
				<select name="h_end">
				{% for i in hours %}
					<option value="{{ i }}">{{ i }}</option>
				{% endfor %}
				</select>
				:
				<select name="m_end">
				{% for i in minutes %}
				  <option value="{{ i }}">{{ i }}</option>
				{% endfor %}
				</select>
			</div>
		</div>
	</div>
	

	<div class="actions">
        <button type="submit" class="btn primary">Publicar</button>
	</div>

	{{ form_row(form._token) }}

</form>

{% else %}
	Area restringida, solo accesible para usuarios
{% endif %}

{% endif %}

{% endblock %}

{% block script_load %}
	
autoGeo();

$( ".dates input" ).datepicker({ firstDay: 1 });


date_start = $( "#application_eventbundle_eventtype_date_start" );
date_end = $( "#application_eventbundle_eventtype_date_end" );

date_start.change(function(){

	if( date_end.val() == "" ){
		date_end.val( date_start.val() );
	}
	
});




{% endblock %}