{% set nav_event = 1 %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Buscar eventos" %}


{% block sidebar %}
	<a href="{{ path('event_new') }}" class="btn btn-large btn-primary">Publicar evento</a>



	<br/><b>Top ciudades</b><br/><br/>

	<ul>
    {% for city in cities %}
		<li><a style="display:inline" href="{{ path('event_city', { 'id': city.id }) }}">{{ city.name }}</a> ({{ city.total }})</li>
    {% endfor %}
	</ul>


{% endblock %}



{% block content %}

<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('event') }}">Eventos</a> <span class="divider">/</span></li>
  <li class="active">Buscar</li>
</ul>

<h1>Buscar eventos</h1>


{% if entities %}

<ul style="list-style-type:none;margin:0">
    {% for entity in entities %}
        <li style="margin-bottom:20px;" {% if entity.featured == 1 %}class="featured"{% endif %}">
		


				
	            <a href="{{ path('event_show', { 'id': entity.id, 'slug': entity.slug }) }}" class="title">{{ entity.title }}</a><br/>
				<b>{{ entity.datestart|date('d/m/Y H:i') }}</b>
				
				
					

				
				<br/>
	            {{ entity.body|truncate(200) }}
				<br/>
				<a href="{{ path('event_city', { 'id': entity.getCityId() }) }}" class="date">{{ entity.location }}</a>
				

				

        </li>
    {% endfor %}
</ul>



{% else %}
	sin resultados, prueba con otra busqueda
{% endif %}




{% endblock %}