{% set share_url = url('event_show', { 'id': entity.id, 'slug': entity.slug }) %}
{% set canonical_url = share_url %}
{% set date_start = entity.datestart|date('d/m/Y') %}
{% set date_end = entity.dateend|date('d/m/Y') %}
{% set nav_event = 1 %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% set location = entity.getLocation() %}
{% set pretty_date = entity.getPrettyDate('%e %B') %}
{% set pretty_date2 = entity.getPrettyDate('%e %B %Y') %}

{% block title %}
	{{ entity.title }} - {{ pretty_date2 }}
{% endblock %}

{% block sidebar %}


<div style="background:#666;padding:15px 15px 0 15px;color:white;display:block">

	<div style="background:url('{{ asset('bundles/applicationanuncios/images/calendarb.png') }}') no-repeat left center;padding:5px 0 10px 55px">
	<b style="font-size:17px">{{ pretty_date }}</b><br/>
	<span style="font-size:17px">{{ entity.datestart|date('H:i') }} - {{ entity.dateend|date('H:i') }}
	</div>
	<!--
	{% if date_start == date_end %}
		{{ entity.dateend|date('H:i') }}
	{% else %}
		{{ entity.dateend|date('d/m/Y H:i') }}
	{% endif %}
	-->
	</span>
	<br class="clear"/>

	{% if entity.hashtag %}
		<div style="border-top:1px #b3b3b3 solid;padding-bottom:10px">
			<a href="http://twitter.com/search/%23{{ entity.hashtag }}" target="_blank" style="color:white;font-size:18px;">#{{ entity.hashtag }}</a>
		</div>
	{% endif %}
	
	
	<div style="border-top:1px #b3b3b3 solid;padding:15px 0 10px 0;">
		<a href="http://maps.google.es/maps?q={{ entity.address }}, {{ location }}" target="_blank" style="padding-left:30px;padding-top:0;min-height:29px;background:url('{{ asset('bundles/applicationanuncios/images/marker.png') }}') no-repeat left top;color:white">
		{{ entity.address }}, {{ location }}
		</a>
	</div>
	


	{% if user.id == false %}
		<a class="btn btn-primary" href="{{ path('event_go', { 'id': entity.id, 'value': 1 }) }}">Me apunto</a>
	{% else %}
	
		{% if apuntado == false %}
			<a class="btn btn-primary" href="{{ path('event_go', { 'id': entity.id, 'value': 1 }) }}">Me apunto</a>
		{% else %}
			<a class="btn btn-danger" href="{{ path('event_go', { 'id': entity.id, 'value': 0 }) }}">No voy a ir</a>
		{% endif %}
		
	{% endif %}
	
	{% if entity.url %}
		<a class="btn" href="{{ entity.url }}" target="_blank">Más información</a>
	{% endif %}
			
	{% if user.id == app.session.get('id') or app.session.get('admin') == 1 %}
		<a class="btn" href="{{ path('event_edit', { 'id': entity.id }) }}">Editar evento</a>
	{% endif %}
	


	</div>

	<br/>
	<b>Compartir</b>

	<br/><br/>


	<a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ entity.title }} - {{ pretty_date }}" data-via="betabeers" data-lang="es">Twittear</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	<br/><br/>
	
	<script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
	<script type="IN/Share" data-counter="right"></script>
	
	<br/><br/>
	
	<iframe src="http://www.facebook.com/plugins/like.php?href={{ share_url }}&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:130px; height:21px;" allowTransparency="true"></iframe>

	<br/><br/>
	
	<a href="http://www.google.com/calendar/event?action=TEMPLATE&text={{ entity.title }}&dates={{ entity.getGDateStart() }}/{{ entity.getGDateEnd() }}&details=&location={{ entity.address }}, {{ location }}&trp=false&sprop=&sprop=name:" target="_blank"><img src="http://www.google.com/calendar/images/ext/gc_button1.gif" alt="0" border="0"></a>

	
	
{% endblock %}



{% block content %}


<style>
.filters a.btn{width:160px;}
</style>

<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('event') }}">Eventos</a> <span class="divider">/</span></li>
  <li><a href="{{ path('event_city', { 'id': entity.getCityId() }) }}">{{ city.name }}, {{ country.name }}</a></li>
</ul>





<h1>{{ entity.title }} - {{ pretty_date2 }}</h1>




		
		
<pre>
{{ entity.body|bbcode|raw }}
{% if entity.resources %}<div style="margin-top:15px;padding:10px;width:300px;background:#FEFBF3;"><b>Recursos</b><br/>{{ entity.resources|bbcode|raw }}</div>{% endif %}
</pre>
		

	
	{% if users %}
		<b>{{ users | length }} apuntados</b>
		<br/><br/>
		

		{% for key, users_cat in users %} 
		
		
		
		
		
		<div class="accordion" id="accordion2">


			<div class="accordion-group">
				<div class="accordion-heading group_edit">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#coll{{ loop.index }}">{{ categories[ key ] }} ({{ users_cat | length }})</a>
				</div>
				<div id="coll{{ loop.index }}" class="accordion-body collapse in">
					<div class="accordion-inner">
						{% for user in users_cat  %}
							<a href="{{ path('user_show', { 'id': user.id, 'slug': user.slug }) }}" rel="twipsy" style="float:left;margin:0 10px 10px 0;width:240px"><img src="{{ user.getAvatar('normal') }}" width="24" height="24" align="absmiddle"/> {{ user.getName() }}</a>
						{% endfor %}
					</div>
				</div>
			</div>



		</div>
		
		

		{% endfor %}

	{% endif %}
	
	
	Publicado por <a href="{{ path('user_show', { 'id': user.id, 'slug': user.slug }) }}">{{ user.name }}</a> el {{ entity.date|date('d/m/Y') }} - {{ entity.visits }} visitas



	{% if related_events %}
		<div style="border-top:1px #efefef solid;padding-top:15px;margin-top:25px">
			<b>Eventos relacionados</b><br/><br/>
			<ul>
			{% for event in related_events %}
				<li>
					<a href="{{ path('event_show', { 'id': event.id, 'slug': event.slug }) }}">{{ event.title }} - {{ event.getPrettyDate('%e %B') }}</a>
				</li>
	    	{% endfor %}
			</ul>
		</div>
	{% endif %}


{% endblock %}


{% block script_load %}

	$(".accordion").collapse().css('height','auto');
	
{% endblock %}