{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Administrar usuarios" %}


{% block sidebar %}

	

	<b>Filtrar usuarios</b><br/>

	<a href="{{ path('user_admin') }}">Todos</a>

	<br/>

	<b>Filtrar por categoría</b><br/>
	{% for category in categories_aux %}
		{% if category.category_id != 0 and category.category_id != 13 %}
			<a href="{{ path('user_admin') }}?c={{ category.category_id }}"><b>{{ category.total }}</b> &nbsp;{{ categories[ category.category_id ] }}</a>
		{% endif %}
	{% endfor %}

{% endblock %}



{% block content %}


<h1>Administrar usuarios</h1>



{% if entities %}

	<table class="zebra-striped">
		<thead>
			<tr>
				<th>Usuario</th>
				<th>Visitas</th>
				<th>Logins</th>
			</tr>
		</thead>
		<tbody>
	    {% for entity in entities %}
	        <tr>
				<td>
					<a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.name }}</a><br/>
					{{ categories[ entity.getCategoryId() ] }}<br/>
					<span class="date">{{ entity.date|date('d/m/Y') }} {% if entity.location %}- {{ entity.location }}{% endif %}</span>
				</td>
				<td>{{ entity.visits }}</td>
				<td>{{ entity.getTotalLogins() }}</td>
	        </tr>
	    {% endfor %}
	    </tbody>
	</table>
	{{ pager|raw }}
{% else %}
	sin resultados, prueba con otra busqueda
{% endif %}




{% endblock %}