{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Administrar usuarios" %}


{% block sidebar %}

	


	<b>Filtrar por categoría</b><br/>
	{% for category in categories_aux %}
		{% if category.category_id != 0 and category.category_id != 13 %}
			<a href="{{ path('user_admin') }}?c={{ category.category_id }}"><b>{{ category.total }}</b> &nbsp;{{ categories[ category.category_id ] }}</a>
		{% endif %}
	{% endfor %}

{% endblock %}



{% block content %}


<h1>Administrar usuarios</h1>



{% if entities %}

	<table class="zebra-striped">
		<thead>
			<tr>
				<th>Usuario</th>
				<th>Visitas</th>
				<th>Logins</th>
				<th>Ref</th>
			</tr>
		</thead>
		<tbody>
	    {% for entity in entities %}
	        <tr>
				<td>
					<img src="{{ entity.getAvatar('mini') }}" width="35" height="35" style="float:left;margin-right:13px"/>
					<div class="pull-left">
						<a href="{{ path('user_show', { 'id': entity.id, 'slug': entity.slug }) }}">{{ entity.name }}</a> {% if entity.getFacebookId() %}<img src="{{ asset('bundles/applicationanuncios/images/facebook.png') }}" width="12" height="12" align="absmiddle"/>{% endif %}<br/>
						{{ categories[ entity.getCategoryId() ] }}<br/>
						<span class="date">{{ entity.date|date('d/m/Y') }} {% if entity.location %}- {{ entity.location }}{% endif %}</span>
					</div>
					<br class="clear"/>
				</td>
				<td>{{ entity.visits }}</td>
				<td>{{ entity.getTotalLogins() }}</td>
				<td>{% if entity.getRefId() %}<a href="{{ path('user_show', { 'id': entity.getRefId(), 'slug': entity.slug }) }}">{{ entity.getRefId() }}</a>{% endif %}</td>
	        </tr>
	    {% endfor %}
	    </tbody>
	</table>
	{{ pager|raw }}
{% else %}
	sin resultados, prueba con otra busqueda
{% endif %}




{% endblock %}