{% set nav_user = 1 %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title %}Profesionales en {{ city.name }}, {{ country.name }}{% endblock %}

{% block sidebar %}
	<a href="{{ path('user_register') }}" class="btn primary" style="font-weight:bold;font-size:20px;margin-top:15px">Registrarte</a>
	<br/>

	<b>Filtrar por categoría</b><br/>
	{% for category in categories %}
		<a href="{{ path('user_city', { 'id': city.id }) }}?c={{loop.index0}}">{{category}}</a>
	{% endfor %}

	<br/><br/>


{% endblock %}

{% block content %}






<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li class="active"><a href="{{ path('user') }}">Profesionales</a></li>
</ul>

<h1>Profesionales en {{ city.name }}, {{ country.name }}</h1>



{% if entities %}
	<ul style="list-style-type:none;margin:0;padding:0;width:480px">
	    {% for entity in entities %}
	        <li>

			
				<img src="{{ entity.getAvatar('mini') }}" width="35" height="35" style="float:left;margin-right:13px"/>
				<div style="float:left;width:425px">
	            <a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.name }}</a> 
				{% if entity.freelance %}
					<span class="freelance">&#149; freelance</span>
				{% endif %}
				
				<br/><b>{{ categories[ entity.categoryid ] }}</b> 
				{% if entity.votes %}
					<span class="votes">{{ entity.votes }}</span>
				{% endif %}
				<br/>

				{% if entity.body %}
					{{ entity.body|truncate(200) }}<br/>
				{% endif %}
			
				<span class="date">{{ entity.location }}</span>


				</div>

				<br class="clear"/><br/>
			
			
	        </li>
	    {% endfor %}
	</ul>


	{{ pager|raw }}
{% else %}
	No se han encontrado profesionales en esta categoría.
{% endif %}

{% endblock %}

