{% extends "ApplicationAnunciosBundle::layout.html.twig" %}


{% block title "Recomendar" %}

{% block sidebar %}

	<div class="alert-message block-message warning" style="padding:14px 0;width:179px;text-align:center">
		Recomendaciones
		<b style="font-size:80px;display:block;text-align:center;line-height:80px">{{ comments }}</b>
	</div>
		

	{% if app.session.get('id') != user.id %}
	
		<a href="{{ path('user_recommend', { 'id': user.id }) }}" class="btn primary large">Recomendar</a>
				
	{% endif %}
{% endblock %}

{% block content %}


	<ul class="breadcrumb">
	  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
	  <li><a href="{{ path('user') }}">Profesionales</a> <span class="divider">/</span></li>
	  <li><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.name }}</a> <span class="divider">/</span></li>
	  <li><a href="{{ path('user_comments', { 'id': user.id }) }}">Recomendaciones</a></li>
	</ul>


	<h1>Recomendaciones a {{ user.name }}</h1>
	
	{% if comments %}
		{% for item in comments %}
			<br/>
			<div class="row">
				<div class="span1">
					{% if item.type == 0 %}					
						<img src="{{ asset('bundles/applicationanuncios/images/star.png') }}" data-original-title="Me gusta lo que hace" rel="twipsy" />
					{% elseif item.type == 1 %}					
						<img src="{{ asset('bundles/applicationanuncios/images/wannawork.png') }}" data-original-title="Quiero trabajar con esta persona" rel="twipsy" />
					{% else %}
						<img src="{{ asset('bundles/applicationanuncios/images/weworked.png') }}" data-original-title="He trabajdo con esta persona" rel="twipsy" />
					{% endif %}
				</div>
				<div class="span3">
					<a href="{{ path('user_show', { 'id': item.from_id }) }}">{{ item.name }}</a><br/>
					{{ categories[item.category_id] }}<br/>
					<a href="{{ path('user_comment', { 'user_id': user.id, 'comment_id': item.id }) }}" class="date">{{ item.date|date('d/m/Y') }}</a>
				</div>
				<div class="span6">
					<pre>{{ item.body }}</pre>
				</div>
			</div>
			<br/>
		{% endfor %}
	{% else %}
		Todavia no ha recibido ninguna recomendación
	{% endif %}
	
	
{% endblock %}