{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% form_theme form 'ApplicationAnunciosBundle:Form:fields.html.twig' %}

{% block title "Contacto" %}



{% block content %}

<h1>Contactar con {{ entity.name }}</h1>


{% if result == 0 %}

<form action="{{ path('user_contact', { 'id': entity.id }) }}" method="post">

	
  {{ form_errors(form) }}


		
		{{ form_row(form._token) }}
		{{ form_row(form.name, { 'label': 'Nombre' }) }}
        {{ form_row(form.email, { 'label': 'Email' }) }}
        {{ form_row(form.subject, { 'label': 'Asunto' }) }}
        {{ form_row(form.body, { 'label': 'Mensaje' }) }}



		<div class="actions">
			<button type="submit" class="btn primary">Enviar</button> &nbsp;
			<a href="{{ path('user_show', { 'id': entity.id }) }}" class="btn">Cancelar</a>
		</div>
	
	
</form>

{% elseif result == 1 %}

	
	<div class="alert-message block-message success">
		<b>Mensaje enviado correctamente</b>
		<div class="alert-actions">
			<a class="btn small" href="{{ path('user_show', { 'id': entity.id, 'slug': entity.slug }) }}">Volver al perfil</a>
		</div>
	</div>
	
{% endif %}


{% endblock %}