{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% form_theme edit_form 'ApplicationAnunciosBundle:Form:fields.html.twig' %}

{% block title "Editar perfil" %}

{% block sidebar %}

	<div class="alert-message block-message warning">
		<b>Cosas por hacer</b>
		<li {% if entity.categoryid != 0 %} style="text-decoration:line-through"{% endif %}>Seleccionar sector</li>
		<li {% if entity.name != '' %} style="text-decoration:line-through"{% endif %}>Introducir nombre</li>
		<li {% if entity.body != '' %} style="text-decoration:line-through"{% endif %}>Introducir descripción</li>
		<li {% if entity.location != '' %} style="text-decoration:line-through"{% endif %}>Introducir ciudad</li>
		<li {% if entity.url != '' %} style="text-decoration:line-through"{% endif %}>Introducir portafolio</li>
		<li {% if entity.twitterurl != '' %} style="text-decoration:line-through"{% endif %}>Introducir twitter</li>
		{% if total > 9 %}
			<li style="text-decoration:line-through"><a href="{{ path('user_invite') }}">Invitar a 10 amigos</a></li>
		{% else %}
			<li><a href="{{ path('user_invite') }}">Invitar a {{ 10 - total }} amigos</a></li>
		{% endif %}
	</div>


{% endblock %}


{% block content %}




<style>
TEXTAREA.xlarge{width:430px}
.filters{border:0}
.span3 a{padding-top:0;display:inline}
</style>


<h1>Editar perfil</h1>

<ul id="tabs" class="tabs">
  <li class="active"><a href="#info">Información</a></li>
  <li><a href="#networks">Perfiles</a></li>
  <li><a href="#options">Opciones</a></li>
</ul>




<form id="tabs_content" action="{{ path('user_edit') }}" method="post" {{ form_enctype(edit_form) }}>




	{{ form_errors(edit_form) }}
	

	<div class="pill-content">

	<div id="info" class="active">
		<div class="clearfix">
			<label>Categoría</label>
			<div class="input">
				<select id="application_userbundle_usertype_category_id" name="application_userbundle_usertype[category_id]">
					{% for category in categories %}
						<option value="{{loop.index0}}" {% if loop.index0 == entity.getCategoryId() %}selected="selected"{% endif %} >{{category}}</a>
					{% endfor %}
				</select>
			</div>
		</div>
		{{ form_row(edit_form.name, { 'label': 'Nombre y apellidos' }) }}
		{{ form_row(edit_form.body, { 'label': 'Descripción' }) }}
		{{ form_row(edit_form.location, { 'label': 'Localización' }) }}
		{{ form_row(edit_form.email, { 'label': 'Email' }) }}

		<div class="clearfix">
			<label for="application_userbundle_usertype_avatar_type">Avatar</label>
			<div class="input">
				<select id="application_userbundle_usertype_avatar_type" name="application_userbundle_usertype[avatar_type]">
					{% for key, value in avatars %}
						<option value="{{key}}" {% if key == entity.getAvatarType() %}selected="selected"{% endif %} >{{value}}</a>
					{% endfor %}
				</select> 
				<img src="" id="user_avatar" width="45" height="45" style="position:absolute;margin:-10px 0 0 10px"/>
			</div>
		</div>

	</div>
	
	

	
	<div id="networks">
		{{ form_row(edit_form.url, { 'label': 'Portafolio' }) }}
		
		<div style="color:red;font-weight:bold" class="clearfix">¡Importante! Introduce el USUARIO de cada perfil no toda la url</div>
		
		{{ form_row(edit_form.linkedin_url, { 'label': 'Usuario linkedin' }) }}
		{{ form_row(edit_form.twitter_url, { 'label': 'Usuario twitter' }) }}
		{{ form_row(edit_form.forrst_url, { 'label': 'Usuario forrst' }) }}
		{{ form_row(edit_form.github_url, { 'label': 'Usuario github' }) }}
		{{ form_row(edit_form.masterbranch_url, { 'label': 'Usuario masterbranch' }) }}
		{{ form_row(edit_form.dribbble_url, { 'label': 'Usuario dribbble' }) }}
		{{ form_row(edit_form.flickr_url, { 'label': 'Usuario flickr' }) }}
		{{ form_row(edit_form.youtube_url, { 'label': 'Usuario youtube' }) }}
		{{ form_row(edit_form.stackoverflow_url, { 'label': 'Id stackoverflow' }) }}
		{{ form_row(edit_form.vimeo_url, { 'label': 'Usuario vimeo' }) }}
		{{ form_row(edit_form.delicious_url, { 'label': 'Usuario delicious' }) }}
		{{ form_row(edit_form.pinboard_url, { 'label': 'Usuario pinboard' }) }}
		{{ form_row(edit_form.itunes_url, { 'label': 'Usuario appannie' }) }}
		{{ form_row(edit_form.android_url, { 'label': 'Usuario android' }) }}
		{{ form_row(edit_form.chrome_url, { 'label': 'Usuario chrome dev' }) }}
	</div>

	<div id="options">	
		<div class="input">
		    <ul class="inputs-list">
	        <li>
	          <label for="application_userbundle_usertype_freelance" class=" required">
	            <input type="checkbox" {% if entity.getFreelance() == 1 %}checked="checked"{% endif %} id="application_userbundle_usertype_freelance" name="application_userbundle_usertype[freelance]" value="1">
	            <span>¿Eres freelance?</span>
	          </label>
	        </li>
	        <li>
	          <label for="application_userbundle_usertype_can_contact" class=" required">
	            <input type="checkbox" {% if entity.getCanContact() == 1 %}checked="checked"{% endif %} id="application_userbundle_usertype_can_contact" name="application_userbundle_usertype[can_contact]" value="1">
	            <span>Permitir que contacten conmigo</span>
	          </label>
	        </li>
	      </ul>
	    </div>
	</div>
	</div>


    <div class="actions">
        <button type="submit" class="btn primary">Guardar cambios</button> &nbsp;

		{% if updated == 1 %}
			<a href="{{ path('user_show', { 'id': entity.id }) }}" class="btn success">¡Actualizado! Visitar mi perfil</a>
		{% else %}
			<a href="{{ path('user_show', { 'id': entity.id }) }}" class="btn">Visitar mi perfil</a>
		{% endif %}
    </div>


	{{ form_row(edit_form._token) }}
	


</form>

{% endblock %}


{% block script_load %}
	$('.tabs').tabs();
	
	
	// avatar preview
	gravatar_id = '{{ entity.getGravatarId() }}';
	twitter_id = '{{ entity.getTwitterUrl() }}';
	facebook_id = '{{ entity.getFacebookId() }}';
		
	userAvatar( $('#application_userbundle_usertype_avatar_type').val() );
	
	$('#application_userbundle_usertype_avatar_type').change(function(){
		userAvatar( $(this).val() );
	});
	
	networks_tooltip();
	
{% endblock %}