{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% form_theme edit_form 'ApplicationAnunciosBundle:Form:fields.html.twig' %}

{% block title "Editar perfil" %}

{% block sidebar %}

	<div class="alert-message block-message warning">
		<div id="todo" style="margin:0;line-height:normal">
			<b>Completa tu perfil</b><br/>
			<span id="percent_value" style="position:absolute;font-size:11px;margin:6px 0 0 4px;color:white">5%</span>
			<div style="background:#ccc;margin-bottom:10px;">
				<div id="percent" style="height:15px;background:#66CC66">&nbsp;</div>
			</div>
			<ul style="margin:0 0 0 15px">
			<li>Seleccionar sector</li>
			<li>Introducir nombre</li>
			<li>Introducir descripción</li>
			<li>Introducir ciudad</li>
			<li>Introducir portafolio</li>
			<li>Introducir twitter</li>
			{% if total > 19 %}
				<li style="text-decoration:line-through"><a href="{{ path('user_invite') }}">Invitar a 20 amigos</a></li>
			{% else %}
				<li><a href="{{ path('user_invite') }}">Invitar a {{ 20 - total }} amigos</a></li>
			{% endif %}
			</ul>
		</div>
		<div id="todo_complete" style="display:none;margin:0;line-height:normal">
			<b>Perfil completado</b><br/><br/>
			<ul style="margin:0 0 0 15px">
				<li><a href="{{ path('post_new') }}?t=1">Publicar colaboración</a></li>
				<li><a href="{{ path('post_new') }}?">Publicar anuncio</a></li>
				<li>Recomendar personas</li>
				<li><a href="{{ path('user_invite') }}">Invitar a más amigos</a></li>
			</ul>
		</div>
	</div>


{% endblock %}


{% block content %}




<style>
TEXTAREA.xlarge{width:430px}
.filters{border:0}
.span3 a{padding-top:0;display:inline}
input.xlarge{width:230px}
</style>


<h1>Editar perfil</h1>

<span class="help_arrow" id="help_arrow" style="display:none">Mejora tu perfil, rellenando tus perfiles en la red</span>



<ul id="tabs" class="tabs">
  <li class="active"><a href="#info">Información</a></li>
  <li><a href="#networks">Perfiles</a></li>
  <li><a href="#options">Opciones</a></li>
</ul>


<br class="clear"/>

<form id="tabs_content" action="{{ path('user_edit') }}" method="post" {{ form_enctype(edit_form) }}>




	{{ form_errors(edit_form) }}
	

	<div class="pill-content">

	<div id="info" class="active">
	
		{{ form_row(edit_form.body, { 'label': 'Descripción' }) }}
		
		<div class="clearfix">
			<label for="application_userbundle_usertype_avatar_type">Avatar</label>
			<div class="input">
				<select id="application_userbundle_usertype_avatar_type" name="application_userbundle_usertype[avatar_type]">
					{% for key, value in avatars %}
						<option value="{{key}}" {% if key == entity.getAvatarType() %}selected="selected"{% endif %} >{{value}}</a>
					{% endfor %}
				</select> 
				<img src="" id="user_avatar" width="45" height="45" style="display:none;position:absolute;margin:-10px 0 0 10px"/>
			</div>
		</div>
		
		<div class="clearfix">
			<label>Perfil</label>
			<div class="input">
				<select id="application_userbundle_usertype_category_id" name="application_userbundle_usertype[category_id]">
					{% for category in categories %}
						{% if loop.index0 > 0 %}
							<option value="{{loop.index0}}" {% if loop.index0 == entity.getCategoryId() %}selected="selected"{% endif %} >{{category}}</a>
						{% endif %}
					{% endfor %}
				</select>
			</div>
		</div>
		{{ form_row(edit_form.name, { 'label': 'Nombre y apellidos' }) }}
		
		
		
		<div id="geo">
			{{ form_row(edit_form.location, { 'label': 'Localización' }) }}
			<div class="hide">
				{{ form_row(edit_form.country_id, { 'label': 'country' }) }}
				{{ form_row(edit_form.city_id, { 'label': 'city' }) }}
			</div>
		</div>
		
		
		{{ form_row(edit_form.email, { 'label': 'Email' }) }}



	</div>

	
	<div id="networks">

		<div class="group_edit">Comunicación</div>
		<span class="help_edit">Ejemplo: miquelcamps</span>
		{{ form_row(edit_form.twitter_url, { 'label': 'Twitter' }) }}
		<span class="help_edit">Ej: http://miquelcamps.com</span>
		{{ form_row(edit_form.url, { 'label': 'Portafolio' }) }}
		<span class="help_edit">Ejemplo: miquelcamps</span>
		{{ form_row(edit_form.linkedin_url, { 'label': 'Linkedin' }) }}
		<span class="help_edit">Ejemplo: viciao2k3</span>
		{{ form_row(edit_form.youtube_url, { 'label': 'Youtube' }) }}
		<span class="help_edit">Ejemplo: user820547</span>
		{{ form_row(edit_form.vimeo_url, { 'label': 'Vimeo' }) }}
		
		<div class="group_edit">Programador</div>

		<span class="help_edit">Ejemplo: miquelcamps</span>
		{{ form_row(edit_form.github_url, { 'label': 'Github' }) }}
		<span class="help_edit">Ejemplo: 543644</span>
		{{ form_row(edit_form.stackoverflow_url, { 'label': 'Id stackoverflow' }) }}
		<span class="help_edit">Ejemplo: miquel.camps-orteza</span>
		{{ form_row(edit_form.masterbranch_url, { 'label': 'Masterbranch' }) }}
		<a href="http://dirbeta.tumblr.com/post/11547225386/desarrollas-extensiones-de-chrome-muestra-tus" target="_blank" class="help_a">¿Cómo saber tu usuario?</a>
		{{ form_row(edit_form.chrome_url, { 'label': 'Chrome web store' }) }}
		
		<div class="group_edit">Programador apps móvil</div>
		
		<a href="http://dirbeta.tumblr.com/post/11528134993/eres-desarrollador-de-android-muestra-tus-apps-en-tu" target="_blank" class="help_a">¿Cómo saber tu usuario?</a>
		{{ form_row(edit_form.android_url, { 'label': 'Android market' }) }}
		
		<a href="http://dirbeta.tumblr.com/post/11506524530/eres-desarrollador-de-ios-muestra-tus-apps-en-tu" target="_blank" class="help_a">¿Cómo saber tu usuario?</a>
		{{ form_row(edit_form.itunes_url, { 'label': 'Appstore iOS' }) }}
		
		<div class="group_edit">Diseñador</div>
		<span class="help_edit">Ejemplo: ftp2nuke</span>
		{{ form_row(edit_form.flickr_url, { 'label': 'Flickr' }) }}
		<span class="help_edit">Ejemplo: miquelcamps</span>
		{{ form_row(edit_form.dribbble_url, { 'label': 'Dribbble' }) }}
		<span class="help_edit">Ejemplo: miquelcamps</span>
		{{ form_row(edit_form.forrst_url, { 'label': 'Forrst' }) }}

		<div class="group_edit">Favoritos</div>
		<span class="help_edit">Ejemplo: miquelcamps</span>
		{{ form_row(edit_form.delicious_url, { 'label': 'Delicious' }) }}
		<span class="help_edit">Ejemplo: miquelcamps</span>
		{{ form_row(edit_form.pinboard_url, { 'label': 'Pinboard' }) }}
	</div>

	<div id="options">	
		<div class="input">
		    <ul class="inputs-list">
	        <li>
	          <label for="application_userbundle_usertype_unemployed" class=" required">
	            <input type="checkbox" {% if entity.getUnemployed() == 1 %}checked="checked"{% endif %} id="application_userbundle_usertype_unemployed" name="application_userbundle_usertype[unemployed]" value="1">
	            <span>¿Estás buscando trabajo en una empresa?</span>
	          </label><br/>
	        </li>
	        <li>
	          <label for="application_userbundle_usertype_freelance" class=" required">
	            <input type="checkbox" {% if entity.getFreelance() == 1 %}checked="checked"{% endif %} id="application_userbundle_usertype_freelance" name="application_userbundle_usertype[freelance]" value="1">
	            <span>¿Eres freelance?</span>
	          </label><br/>
	        </li>
	        <li>
	          <label for="application_userbundle_usertype_can_contact" class=" required">
	            <input type="checkbox" {% if entity.getCanContact() == 1 %}checked="checked"{% endif %} id="application_userbundle_usertype_can_contact" name="application_userbundle_usertype[can_contact]" value="1">
	            <span>Permitir que contacten conmigo</span>
	          </label>
	        </li>
	      </ul>
	    </div>
	
		<br/>
	
		<div class="clearfix">
			<label>Contraseña</label>
			<div class="input"><br/>
				<a href="{{ path('user_forgotpass', { 'token': entity.pass, 'id': entity.id }) }}">Cambiar contraseña</a>
			</div>
		</div>
	
	
	</div>
	</div>


    <div class="actions">
        <button type="submit" class="btn primary">Guardar cambios</button> &nbsp;

		{% if updated == 1 %}
			<a href="{{ path('user_show', { 'id': entity.id }) }}" class="btn success">¡Actualizado! Visitar mi perfil</a>
		{% else %}
			<a href="{{ path('user_show', { 'id': entity.id }) }}" class="btn">Visitar mi perfil</a>
		{% endif %}
    </div>



	

	{{ form_row(edit_form._token) }}

</form>



















	











{% endblock %}


{% block script_load %}

	autoGeo();

	$('.tabs').tabs();
	
	
	// avatar preview
	gravatar_id = '{{ entity.getGravatarId() }}';
	twitter_id = '{{ entity.getTwitterUrl() }}';
	facebook_id = '{{ entity.getFacebookId() }}';
		
	userAvatar( $('#application_userbundle_usertype_avatar_type').val() );
	
	$('#application_userbundle_usertype_avatar_type').change(function(){
		userAvatar( $(this).val() );
	});
	
	networks_tooltip();
	
	
	var percent = 0;
	{% if entity.categoryid != 0 %}percent+=14;$('#todo li:eq(0)').css('text-decoration','line-through');{% endif %}
	{% if entity.name != '' %}percent+=14;$('#todo li:eq(1)').css('text-decoration','line-through');{% endif %}
	{% if entity.body != '' %}percent+=14;$('#todo li:eq(2)').css('text-decoration','line-through');{% endif %}
	{% if entity.location != '' %}percent+=14;$('#todo li:eq(3)').css('text-decoration','line-through');{% endif %}
	{% if entity.url != '' %}percent+=14;$('#todo li:eq(4)').css('text-decoration','line-through');{% endif %}
	{% if entity.twitterurl != '' %}percent+=14;$('#todo li:eq(5)').css('text-decoration','line-through');{% endif %}
	{% if total > 19 %}percent+=14;{% endif %}
	$('#percent').css('width',percent+'%');
	$('#percent_value').html(percent+'%');

	if( percent == 98 ){
	
		$('#todo').hide();
		$('#todo_complete').show();
	}

	
	
	$('#help_arrow').fadeIn('slow');
	
{% endblock %}