{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% form_theme edit_form 'ApplicationAnunciosBundle:Form:fields.html.twig' %}
{% set share_url = url('user_show', { 'id': entity.id }) %}

{% block title "Editar perfil" %}

{% block sidebar %}


	<div class="alert-message block-message warning">


	{% if entity.categoryid != 0 and entity.name != '' and entity.body != '' and entity.location != '' and entity.url != '' and entity.twitterurl != '' %}

		<b>Descarga gratis</b><br/><br/>
		<a href="http://bit.ly/wvVBdl" target="_blank" class="btn" style="padding:10px;">eBook con entrevistas</a>
		<br/><br/>
	
	{% else %}
	
		<b>Descarga gratis</b><br/><br/>
		<a href="javascript:$('#todo').slideDown('fast');" class="btn" style="padding:10px;">eBook con entrevistas</a>
		<br/><br/>

		<div id="todo" style="display:none;padding-top:10px;margin:0;line-height:normal">

			<span style="color:red">Antes tienes que indicar ;)</span><br/>	
			<ul style="margin:10px 0 0 15px">
				<li>Especialidad</li>
				<li>Nombre y apellidos</li>
				<li>Descripción</li>
				<li>Localidad</li>
				<li>URL portafolio</li>
				<li>Twitter</li>
			</ul>
		</div>
	
	{% endif %}


	

	

	
	</div>



{% endblock %}


{% block content %}



<div id="new_badge" style="display:none;position:fixed;z-index:10001;padding:17px 0 17px 0;top:0;left:0;right:0;background:#FFFACD;border-bottom:2px #FFD700 solid;color:#454545;font-size:16px;font-weight:bold">
	<div style="width:820px;margin:auto">
	
		<div style="float:right;width:325px;">
		
			<a href="#" id="btn_close" style="border-radius:20px;margin-top:-5px;background:#DEDAB9;padding:5px 10px;color:#FFFACD;text-decoration:none;float:right">X</a>

			<div style="float:left;width: 69px;overflow: hidden;margin-right: 11px;">
				<a href="https://twitter.com/share" class="twitter-share-button" data-lang="es" data-text="¿A que esperas para registrarte en @betabeers? Mira mi perfil " data-url="{{ share_url }}">Twittear</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>

			<div style="float:left;margin-right: 11px;">
				<script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
				<script type="IN/Share" data-counter="right" data-url="{{ share_url }}"></script>
			</div>

			<iframe src="http://www.facebook.com/plugins/like.php?href={{ share_url }}&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="float:left;border:none; overflow:hidden; width:85px; height:21px;" allowTransparency="true"></iframe>

		</div>
		
		
	
		¡Has actualizado tu perfil! enséñalo a todo el mundo ;)
	</div>
</div>

<style>
TEXTAREA.xlarge{width:430px}
.filters{border:0}
.span3 a{padding-top:0;display:inline}
input.xlarge{width:230px}
#content{padding-top:30px}
</style>















<ul id="tabs" class="tabs">
  <li class="active"><a href="#info" style="font-weight:bold">1. Completa tu perfil</a></li>
  <li><a href="#networks">2. Perfiles</a></li>
  <li><a href="#options">3. Opciones</a></li>
</ul>


<br class="clear"/>

<form id="tabs_content" action="{{ path('user_edit') }}" method="post" {{ form_enctype(edit_form) }}>




	{{ form_errors(edit_form) }}
	

	<div class="pill-content">

	<div id="info" class="active">

		<div class="clearfix alert-message block-message info">


			<ul style="margin:0 0 0 15px">
				<li>Tu perfil será más visible en los listados y busquedas</li>
				<li>Si buscas trabajo, serás más interesante para las empresas</li>
				<li>Serás más relevante en tu sector y más visible en los buscadores</li>
			</ul>
		</div>
	
		{{ form_row(edit_form.body, { 'label': 'Descripción' }) }}
		

		
		<div class="clearfix">
			<label>Especialidad</label>
			<div class="input">
				<select id="application_userbundle_usertype_category_id" name="application_userbundle_usertype[category_id]">
					{% for category in categories %}
						{% if loop.index0 > 0 %}
							<option value="{{loop.index0}}" {% if loop.index0 == entity.getCategoryId() %}selected="selected"{% endif %} >{{category}}</a>
						{% endif %}
					{% endfor %}
				</select>
			</div>
		</div>


		
		
		<div id="geo">
			{{ form_row(edit_form.location, { 'label': 'Localidad' }) }}
			<div class="hide">
				{{ form_row(edit_form.country_id, { 'label': 'country' }) }}
				{{ form_row(edit_form.city_id, { 'label': 'city' }) }}
			</div>
		</div>
		
		{{ form_row(edit_form.name, { 'label': 'Nombre y apellidos' }) }}
		{{ form_row(edit_form.email, { 'label': 'Email' }) }}

		<div class="clearfix">
			<label for="application_userbundle_usertype_avatar_type">Avatar</label>
			<div class="input">
				<select id="application_userbundle_usertype_avatar_type" name="application_userbundle_usertype[avatar_type]">
					{% for key, value in avatars %}
						<option value="{{key}}" {% if key == entity.getAvatarType() %}selected="selected"{% endif %} >{{value}}</a>
					{% endfor %}
				</select> 
				<img src="" id="user_avatar" width="45" height="45" style="display:none;position:absolute;margin:-10px 0 0 10px"/>
			</div>
		</div>

	</div>

	
	<div id="networks">
	
		<div class="clearfix alert-message block-message info" style="text-align:center">
			Demuestra tus conocimientos y trabajos, indica tus perfiles en la red - <a href="{{ path('user_show', { 'id': entity.getId() }) }}" target="_blank">Ejemplo</a><br/>
		</div>

		<div class="group_edit">Comunicación</div>
		<span class="help_edit">Ejemplo: miquelcamps</span>
		{{ form_row(edit_form.twitter_url, { 'label': 'Twitter' }) }}
		<span class="help_edit">Ej: http://miquelcamps.com</span>
		{{ form_row(edit_form.url, { 'label': 'URL portafolio' }) }}
		<span class="help_edit">Ejemplo: miquelcamps</span>
		{{ form_row(edit_form.linkedin_url, { 'label': 'Linkedin' }) }}
		<span class="help_edit">Ejemplo: viciao2k3</span>
		{{ form_row(edit_form.youtube_url, { 'label': 'Youtube' }) }}
		<span class="help_edit">Ejemplo: user820547</span>
		{{ form_row(edit_form.vimeo_url, { 'label': 'Vimeo' }) }}
		
		<div class="group_edit">¿Programas?</div>

		<span class="help_edit">Ejemplo: miquelcamps</span>
		{{ form_row(edit_form.github_url, { 'label': 'Github' }) }}
		<span class="help_edit">Ejemplo: 543644</span>
		{{ form_row(edit_form.stackoverflow_url, { 'label': 'Id stackoverflow' }) }}
		<span class="help_edit">Ejemplo: miquel.camps-orteza</span>
		{{ form_row(edit_form.masterbranch_url, { 'label': 'Masterbranch' }) }}
		<a href="http://dirbeta.tumblr.com/post/11547225386/desarrollas-extensiones-de-chrome-muestra-tus" target="_blank" class="help_a">¿Cómo saber tu usuario?</a>
		{{ form_row(edit_form.chrome_url, { 'label': 'Chrome web store' }) }}
		
		<div class="group_edit">¿Programas aplicaciones móviles?</div>
		
		<a href="http://dirbeta.tumblr.com/post/11528134993/eres-desarrollador-de-android-muestra-tus-apps-en-tu" target="_blank" class="help_a">¿Cómo saber tu usuario?</a>
		{{ form_row(edit_form.android_url, { 'label': 'Android market' }) }}
		
		<a href="http://dirbeta.tumblr.com/post/11506524530/eres-desarrollador-de-ios-muestra-tus-apps-en-tu" target="_blank" class="help_a">¿Cómo saber tu usuario?</a>
		{{ form_row(edit_form.itunes_url, { 'label': 'Appstore iOS' }) }}
		
		<div class="group_edit">¿Diseñas?</div>
		<span class="help_edit">Ejemplo: ftp2nuke</span>
		{{ form_row(edit_form.flickr_url, { 'label': 'Flickr' }) }}
		<span class="help_edit">Ejemplo: miquelcamps</span>
		{{ form_row(edit_form.dribbble_url, { 'label': 'Dribbble' }) }}
		<span class="help_edit">Ejemplo: miquelcamps</span>
		{{ form_row(edit_form.forrst_url, { 'label': 'Forrst' }) }}

		<div class="group_edit">Favoritos</div>
		<span class="help_edit">Ejemplo: miquelcamps</span>
		{{ form_row(edit_form.delicious_url, { 'label': 'Delicious' }) }}
		<span class="help_edit">Ejemplo: miquelcamps</span>
		{{ form_row(edit_form.pinboard_url, { 'label': 'Pinboard' }) }}
	</div>

	<div id="options">
	
		<div class="clearfix alert-message block-message info" style="text-align:center">
			Ayúdanos a conocerte mejor para ofrecerte un mejor servicio
		</div>
		
		<div class="input">
		    <ul class="inputs-list">
	        <li>
	          <label for="application_userbundle_usertype_unemployed" class=" required">
	            <input type="checkbox" {% if entity.getUnemployed() == 1 %}checked="checked"{% endif %} id="application_userbundle_usertype_unemployed" name="application_userbundle_usertype[unemployed]" value="1">
	            <span>¿Estás buscando trabajo en una empresa?</span>
	          </label><br/>
	        </li>
	        <li>
	          <label for="application_userbundle_usertype_freelance" class=" required">
	            <input type="checkbox" {% if entity.getFreelance() == 1 %}checked="checked"{% endif %} id="application_userbundle_usertype_freelance" name="application_userbundle_usertype[freelance]" value="1">
	            <span>¿Eres freelance?</span>
	          </label><br/>
	        </li>
	        <li>
	          <label for="application_userbundle_usertype_can_contact" class=" required">
	            <input type="checkbox" {% if entity.getCanContact() == 1 %}checked="checked"{% endif %} id="application_userbundle_usertype_can_contact" name="application_userbundle_usertype[can_contact]" value="1">
	            <span>Permitir que contacten conmigo</span>
	          </label><br/>
	        </li>
	        <li>
	          <label for="application_userbundle_usertype_search_team" class=" required">
	            <input type="checkbox" {% if entity.getSearchTeam() == 1 %}checked="checked"{% endif %} id="application_userbundle_usertype_search_team" name="application_userbundle_usertype[search_team]" value="1">
	            <span>¿Estas buscando equipo?</span>
	          </label><br/>
	        </li>
	        <li>
	          <label for="application_userbundle_usertype_newsletter" class=" required">
	            <input type="checkbox" {% if entity.getNewsletter() == 1 %}checked="checked"{% endif %} id="application_userbundle_usertype_newsletter" name="application_userbundle_usertype[newsletter]" value="1">
	            <span>Suscribirme a la newsletter</span>
	          </label>
	        </li>
	      </ul>
	    </div>
	
		<br/>
	
		<div class="clearfix">
			<label>Contraseña</label>
			<div class="input"><br/>
				<a href="{{ path('user_forgotpass', { 'token': entity.pass, 'id': entity.id }) }}">Cambiar contraseña</a>
			</div>
		</div>
	
	
	</div>
	</div>


    <div class="actions">
        <button type="submit" class="btn primary">Guardar cambios</button> &nbsp;

		<!--
		{% if updated == 1 %}
			<a href="{{ path('user_show', { 'id': entity.id }) }}" class="btn success">¡Actualizado! Visitar mi perfil</a>
		{% else %}
			<a href="{{ path('user_show', { 'id': entity.id }) }}" class="btn">Visitar mi perfil</a>
		{% endif %}
		-->
		
		<a href="{{ path('user_show', { 'id': entity.id }) }}" class="btn">Visitar mi perfil</a>
    </div>



	

	{{ form_row(edit_form._token) }}

</form>



















	











{% endblock %}


{% block script_load %}

	autoGeo();

	$('.tabs').tabs();
	
	
	// avatar preview
	gravatar_id = '{{ entity.getGravatarId() }}';
	twitter_id = '{{ entity.getTwitterUrl() }}';
	facebook_id = '{{ entity.getFacebookId() }}';
		
	userAvatar( $('#application_userbundle_usertype_avatar_type').val() );
	
	$('#application_userbundle_usertype_avatar_type').change(function(){
		userAvatar( $(this).val() );
	});
	
	networks_tooltip();
	

	if( $('#todo').size() ){
		
		{% if entity.categoryid != 0 %}$('#todo li:eq(0)').hide();{% endif %}
		{% if entity.name != '' %}$('#todo li:eq(1)').hide();{% endif %}
		{% if entity.body != '' %}$('#todo li:eq(2)').hide();{% endif %}
		{% if entity.location != '' %}$('#todo li:eq(3)').hide();{% endif %}
		{% if entity.url != '' %}$('#todo li:eq(4)').hide();{% endif %}
		{% if entity.twitterurl != '' %}$('#todo li:eq(5)').hide();{% endif %}
	}
	
	
	if( document.location.href.indexOf('updated') != -1 ){
		$('#new_badge').delay(500).slideDown();
	}

	$('#btn_close').click(function(){
		$('#new_badge').hide();
	});
	
	
{% endblock %}