{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% form_theme form 'ApplicationAnunciosBundle:Form:fields.html.twig' %}

{% block title "Recuperar contrase単a" %}



{% block content %}

<h1>Recuperar contrase単a</h1>

{% if result == 0 %}


	<form class="form-horizontal" action="{{ path('user_forgotemail') }}" method="post">

	
	  {{ form_errors(form) }}


		
		{{ form_row(form._token) }}
		{{ form_row(form.email, { 'label': 'Email', 'class': 'large' }) }}


		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Recuperar contrase単a</button>
			<a href="{{ path('user_login') }}" class="btn">Cancelar</a>
		</div>

	
	</form>

{% else %}
	
	<div class="alert-message block-message success">
		Te hemos enviado un mail con un enlace para cambiar tu contrase単a
	</div>
	
	
	<p><span class="label important">Importante</span> Si no has recibido el correo, comprueba la carpeta de spam o correo no deseado.</p>

{% endif %}

{% endblock %}