{% set nav_user = 1 %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Profesionales" %}

{% block sidebar %}
	<a href="{{ path('user_register') }}" class="btn primary" style="font-weight:bold;font-size:20px;">Registrarte</a>
	<br/>

	<b>Filtrar por categoría</b><br/>
	{% for category in categories %}
		<a href="{{ path('user') }}?c={{loop.index0}}">{{category}}</a>
	{% endfor %}

	<br/><br/>


{% endblock %}

{% block content %}





<div style="background:#FFFFCC;padding:10px;margin-bottom:20px">
<b style="display:block;margin-bottom:10px;font-weight:bold">Ranking semanal de personas que más invitan</b>

{% if users_ref %}

	<a href="{{ path('user_invite') }}" style="float:right;margin-top:10px;font-size:16px;">Invitar contactos</a>

	{% for user in users_ref %}
		<a href="{{ path('user_show', { 'id': user.id, 'slug': user.slug }) }}" data-original-title="<b>{{ categories[ user.category_id ] }}</b><br/>{{ user.name }}" rel="twipsy" style="float:left;margin-right:5px"><span style="position:absolute;margin-top:20px;padding:0 5px;background:red;color:white;font-size:10px">{{ user.total }}</span><img src="
		{% if user.avatar_type == 1 %}
			http://api.twitter.com/1/users/profile_image/{{ user.twitter_url }}?size=normal
		{% elseif( user.avatar_type == 2 ) %}
			http://graph.facebook.com/{{ user.facebook_id }}/picture?type=square
		{% else %}
			http://www.gravatar.com/avatar/{{ user.email|md5 }}?s=50&d=http://dir.betabeers.com/bundles/applicationanuncios/images/default_avatar.png
		{% endif %}
		" width="38" height="38"/></a>
	{% endfor %}

{% else %}
	¿Quieres aparecer aquí? <a href="{{ path('user_invite') }}">Invita a tus contactos</a>

{% endif %}

<br class="clear"/>
</div>



<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li class="active"><a href="{{ path('user') }}">Profesionales</a></li>
</ul>

<h1>Profesionales</h1>


<ul id="tabs" class="tabs">
  <li class="active"><a href="{{ path('user') }}">Listado</a></li>
  <li><a href="{{ path('user_freelance') }}">Freelance</a></li>
  <li><a href="{{ path('user_comments_all') }}">Recomendaciones</a></li>
</ul>

{% if entities %}
	<ul style="list-style-type:none;margin:0;padding:0;width:480px">
	    {% for entity in entities %}
	        <li>

			
				<img src="{{ entity.getAvatar('mini') }}" width="35" height="35" style="float:left;margin-right:13px"/>
				<div style="float:left;width:425px">
	            <a href="{{ path('user_show', { 'id': entity.id, 'slug': entity.slug }) }}">{{ entity.name }}</a> 
				{% if entity.freelance %}
					<span class="freelance">&#149; freelance</span>
				{% endif %}
				
				<br/><b>{{ categories[ entity.categoryid ] }}</b> 
				{% if entity.votes %}
					<span class="votes">{{ entity.votes }}</span>
				{% endif %}
				<br/>

				{% if entity.body %}
					{{ entity.body|truncate(200) }}<br/>
				{% endif %}
			
				{% if entity.getCityId() %}
					<a href="{{ path('user_city', { 'id': entity.getCityId() }) }}" class="date">{{ entity.location }}</a>
				{% else %}
					<span class="date">{{ entity.location }}</span>
				{% endif %}


				</div>

				<br class="clear"/><br/>
			
			
	        </li>
	    {% endfor %}
	</ul>


	{{ pager|raw }}
{% else %}
	No se han encontrado profesionales en esta categoría.
{% endif %}

{% endblock %}

