{% set nav_user = 1 %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Profesionales freelance" %}

{% block sidebar %}

	{% if app.session.get('name') %}
		<a href="{{ path('user_invite') }}" class="btn btn-large btn-primary">Invitar contactos</a>
	{% else %}
		<a href="{{ path('user_register') }}" class="btn btn-large btn-primary">Registrarte</a>
	{% endif %}



	<b>Filtrar por categoría</b><br/><br/>
	<ul>
	{% for category in categories %}
		<li><a href="{{ path('user_freelance') }}?c={{loop.index0}}">{{category}}</a></li>
	{% endfor %}
	</ul>
{% endblock %}

{% block content %}



<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('user') }}">Profesionales</a> <span class="divider">/</span></li>
  <li class="active">Profesionales freelance</li>
</ul>


<h1>Profesionales freelance</h1>

<ul class="nav nav-tabs">
	<li><a href="{{ path('user') }}">Profesionales</a></li>
	<li class="active"><a href="{{ path('user_freelance') }}">Freelance</a></li>
	<li><a href="{{ path('user_comments_all') }}">Recomendaciones</a></li>
</ul>


{% if entities %}
	<ul style="list-style-type:none;margin:0;padding:0;width:480px">
	    {% for entity in entities %}
	        <li>

			
				<img src="{{ entity.getAvatar('mini') }}" width="35" height="35" style="float:left;margin-right:13px"/>
				<div style="float:left;width:425px">
	            <a href="{{ path('user_show', { 'id': entity.id, 'slug': entity.slug }) }}">{{ entity.name }}</a> 
				
				<br/><b>{{ categories[ entity.categoryid ] }}</b> 
				{% if entity.votes %}
					<span class="votes">{{ entity.votes }}</span>
				{% endif %}
				<br/>

				{% if entity.body %}
					{{ entity.body|truncate(200) }}<br/>
				{% endif %}
			
				<a href="{{ path('user_city', { 'id': entity.getCityId() }) }}" class="date">{{ entity.location }}</a>


				</div>

				<br class="clear"/><br/>
			
			
	        </li>
	    {% endfor %}
	</ul>
	{{ pager|raw }}
{% else %}
	No se han encontrado profesionales en esta categoría.
{% endif %}




{% endblock %}

