{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Invitar contactos" %}

{% block sidebar %}
	<div class="alert" style="padding:14px 0;width:179px;text-align:center">
		Usuarios invitados
		<b style="font-size:80px;display:block;text-align:center;line-height:80px">{{ total }}</b>
	</div>
{% endblock %}

{% block content %}

<h1>Invitar contactos</h1>

<a href="#" onclick="shareit('twitter')"><img src="{{ asset( 'bundles/applicationanuncios/images/big_twitter.png' ) }}"></a> &nbsp; 
<a href="#" onclick="shareit('google')"><img src="{{ asset( 'bundles/applicationanuncios/images/big_google.png' ) }}"></a> &nbsp; 
<a href="#" onclick="shareit('linkedin')"><img src="{{ asset( 'bundles/applicationanuncios/images/big_linkedin.png' ) }}"></a> &nbsp; 
<a href="#" onclick="shareit('facebook')"><img src="{{ asset( 'bundles/applicationanuncios/images/big_facebook.png' ) }}"></a> &nbsp; 

<br/><br/>

Comparte este enlace<br/>
<input value="{{ url('user_welcome') }}?ref_id={{ entity.id }}" style="width:340px" readonly="readonly" onclick="this.select()"/>
	
<script>
function shareit( op ){
	var status = 'Amplia tu red de contactos, trabaja en la mejor startup';
	var link = '{{ url('user_welcome') }}?ref_id={{ entity.id }}';
	switch( op ){
		case 'twitter':
			url = 'http://twitter.com?status=' + encodeURIComponent( status + ' ' + link );
			break;

		case 'google':
			url = 'https://plus.google.com/share?url=' + encodeURIComponent( link );
			break;

		case 'linkedin':
			url = 'http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent( link );
			break;
			
		case 'facebook':
			url = 'http://facebook.com/sharer.php?u=' + encodeURIComponent( link );
			break;
	}
	window.open( url );
}
</script>
	
{% endblock %}