{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% form_theme form 'ApplicationAnunciosBundle:Form:fields.html.twig' %}

{% block title "Iniciar sesión" %}

{% block sidebar %}

	<b>Registrate en 1 minuto</b><br/>
	<a href="{{ path('user_fblogin') }}"><img src="{{ asset('bundles/applicationanuncios/images/fblogin.png') }}"/></a>
	<iframe src="https://www.facebook.com/plugins/facepile.php?app_id=194718703877738&amp;max_rows=2" scrolling="no" frameborder="0" allowTransparency="true" style="border:none;overflow:hidden; width:190px; height:120px;"></iframe>
	
{% endblock %}


{% block content %}

<h1>Iniciar sesión</h1>



<form id="tabs_content" action="{{ path('user_login') }}" method="post" {{ form_enctype(form) }}>




	{{ form_errors(form) }}
	





	{{ form_row(form.email, { 'label': 'Email' }) }}
	{{ form_row(form.pass, { 'label': 'Contraseña' }) }}
	<div class="clearfix "><label>&nbsp;</label><div class="input"><a href="{{ path('user_forgotemail') }}">¿Has olvidado la contraseña?</a></div></div>



    <div class="actions">
        <button type="submit" class="btn primary">Iniciar sesión</button> &nbsp;
		<a href="{{ path('user_register') }}" class="btn">Registrarme</a>
    </div>


	{{ form_row(form._token) }}
	

</form>

{% endblock %}