{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% form_theme form 'ApplicationAnunciosBundle:Form:fields.html.twig' %}

{% block title "Registrarme" %}

{% block sidebar %}

	<b>Ayuda</b><br/>
	<a href="{{ path('user_forgotemail') }}">¿Has olvidado la contraseña?</a>


{% endblock %}


{% block content %}

<h1>Registrarme</h1>



<form id="tabs_content" action="{{ path('user_register') }}" method="post" {{ form_enctype(form) }}>




	{{ form_errors(form) }}
	


	<div class="clearfix">
		<label>Sector</label>
		<div class="input">
			<select id="register_category_id" name="register[category_id]">
				{% for category in categories %}
					{% if loop.index0 > 0 %}
						<option value="{{loop.index0}}" {% if loop.index0 == entity.getCategoryId() %}selected="selected"{% endif %} >{{category}}</a>
					{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>


	{{ form_row(form.email, { 'label': 'Email' }) }}
	{{ form_row(form.pass, { 'label': 'Contraseña' }) }}
	{{ form_row(form.name, { 'label': 'Nombre y apellidos' }) }}

 


	<div id="options">	
		<div class="input">
		    <ul class="inputs-list">
			    <li>
			      <label for="register_unemployed" class=" required">
			        <input type="checkbox" {% if entity.getUnemployed() == 1 %}checked="checked"{% endif %} id="register_unemployed" name="register[unemployed]" value="1">
			        <span>¿Estás buscando trabajo en una empresa?</span>
			      </label><br/>
			    </li>
			
		        <li>
		          <label for="register_freelance" class=" required">
		            <input type="checkbox" {% if entity.getFreelance() == 1 %}checked="checked"{% endif %} id="register_freelance" name="register[freelance]" value="1">
		            <span>¿Eres freelance?</span>
		          </label><br/>
		        </li>
			</ul>
		</div>
	</div>

    <div class="actions">
        <button type="submit" class="btn primary">Crear cuenta</button> &nbsp;
		<a href="{{ path('user_login') }}" class="btn">Ya estoy registrado</a>
    </div>


	{{ form_row(form._token) }}
	

</form>

{% endblock %}