{% set btn_send = "Contactar" %}

{% set nav_user = 1 %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% set form_url = path('user_contact', { 'id': entity.id }) %}
{% block title entity.name %}

{% block sidebar %}

	{% if app.session.get('id') != entity.id %}
		{% include "ApplicationAnunciosBundle:Form:contact.html.twig" %}
		<br/><br/>
		
		
		
		<a href="{{ path('user_recommend', { 'id': entity.id }) }}" class="btn large">Recomendar</a>

		
		

		
		
	{% else %}
		<a href="{{ path('user_invite') }}" class="btn large primary">Invitar contactos</a>
	{% endif %}
	<br/>
	
	<a href="{{ path('user_comments', { 'id': entity.id }) }}" style="text-decoration:none;color:black;padding:10px;border:2px #D6EBFF solid;text-align:center">
		<span style="display:block;margin-bottom:10px">Recomendaciones</span>
		<b>{{ total_wannawork }}</b> <img src="{{ asset('bundles/applicationanuncios/images/star.png') }}" width="24" height="24" align="absmiddle" data-original-title="Quiero trabajar con esta persona" rel="twipsy"/> &nbsp;&nbsp; 
		<b>{{ total_like }}</b> <img src="{{ asset('bundles/applicationanuncios/images/wannawork.png') }}" width="24" height="24" align="absmiddle" data-original-title="Me gusta lo que hace" rel="twipsy"/> &nbsp;&nbsp; 
		<b>{{ total_work }}</b> <img src="{{ asset('bundles/applicationanuncios/images/weworked.png') }}" width="24" height="24" align="absmiddle" data-original-title="He trabajdo con esta persona" rel="twipsy"/>
	</a>
	

	<br/>
	
	<b>Compartir</b>

	<br/><br/>



	<a href="https://twitter.com/share" class="twitter-share-button" data-lang="es">Twittear</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	<br/><br/>

	<script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
	<script type="IN/Share" data-counter="right"></script>

	<br/><br/>

	<iframe src="//www.facebook.com/plugins/like.php?href&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=170045873095056" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe>






{% endblock %}


{% block content %}


{% if app.session.get('name') == null %}
	<div class="alert-message block-message warning" style="font-size: 17px;">
	
		Conecta con <b>{{ entity.name }}</b> y {{ total_users }} más profesionales más, en el directorio betabeers podrás encontrar ofretas de empleo, buscar socios y eventos de tu alrededor.
	
		<div class="alert-actions" style="padding-top:5px;text-align:center">
			<a class="btn" href="{{ path('user_register') }}" style="font-weight:bold">Crear cuenta</a> 
			<a class="btn" href="{{ path('user_fblogin') }}">Entrar con facebook</a>
		</div>
	
	</div>
{% endif %}


<script>
var linkedin_user, dribbble_user, flickr_user, github_user, forrst_user, stackoverflow_user, masterbranch_user, youtube_user, vimeo_user, android_user, itunes_user, chrome_user, twitter_user, delicious_user, pinboard_user;
</script>

<style>
.tabs > li > a{padding:0 10px}
</style>

<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('user') }}">Profesionales</a> <span class="divider">/</span></li>
  <li><a href="{{ path('user_search') }}?c={{ entity.categoryid }}">{{ categories[ entity.categoryid ] }}</a></li>
</ul>



<img src="{{ entity.getAvatar('bigger') }}" width="100" height="100" style="float:left;margin-right:10px"/>

<h1 style="margin-bottom:0">{{ entity.name }}</h1>
<b>{{ categories[ entity.categoryid ] }}</b> 
{% if entity.freelance %}
	<span class="freelance">&#149; freelance</span>
{% endif %}
<br/>
{{ entity.location }}
<br/>
<span class="date">registrado desde {{ entity.date|date('d/m/Y') }} - {{ entity.visits }} visitas</span>
<br/><br/><br/>


<ul id="tabs" class="tabs">


	<li class="dropdown" data-dropdown="dropdown">
		<a href="#" class="dropdown-toggle">Perfil</a>
		<ul class="dropdown-menu">
			<li class="active"><a href="#info"><img src="/bundles/applicationanuncios/images/portafolio.png" align="absmiddle"> Descripción</a></li>
			<li id="tab_linkedin" style="display:none"><a href="#linkedin" onclick="get_linkedin();"><img src="/bundles/applicationanuncios/images/linkedin.png" align="absmiddle"> CV en linkedin</a></li>
		</ul>
	</li>




	{% if entity.dribbbleurl or entity.forrsturl or entity.flickrurl %}
		<li class="dropdown" data-dropdown="dropdown">
			<a href="#" class="dropdown-toggle">Diseña</a>
			<ul class="dropdown-menu">
				<li id="tab_flickr" style="display:none"><a href="#flickr" onclick="get_flickr();"><img src="/bundles/applicationanuncios/images/flickr.png" align="absmiddle"> Flickr</a></li>
				<li id="tab_dribbble" style="display:none"><a href="#dribbble" onclick="get_dribbble();"><img src="/bundles/applicationanuncios/images/dribbble.png" align="absmiddle"> Dribbble</a></li>
				<li id="tab_forrst" style="display:none"><a href="#forrst" onclick="get_forrst();"><img src="/bundles/applicationanuncios/images/forrst.png" align="absmiddle"> Forrst</a></li>
			</ul>
		</li>
	{% endif %}
	
	{% if entity.githuburl or entity.stackoverflowurl or entity.masterbranchurl %}
		<li class="dropdown" data-dropdown="dropdown">
			<a href="#" class="dropdown-toggle">Programa</a>
			<ul class="dropdown-menu">
				<li id="tab_github" style="display:none"><a href="#github" onclick="get_github();"><img src="/bundles/applicationanuncios/images/github.png" align="absmiddle"> Github</a></li>
				<li id="tab_stackoverflow" style="display:none"><a href="#stackoverflow" onclick="get_stackoverflow();"><img src="/bundles/applicationanuncios/images/stackoverflow.png" align="absmiddle"> Stackoverflow</a></li>
				<li id="tab_masterbranch" style="display:none"><a href="#masterbranch" onclick="get_masterbranch();"><img src="/bundles/applicationanuncios/images/masterbranch.png" align="absmiddle"> Masterbranch</a></li>
			</ul>
		</li>
	{% endif %}
	
	{% if entity.youtubeurl or entity.vimeourl %}
		<li class="dropdown" data-dropdown="dropdown">
			<a href="#" class="dropdown-toggle">Video</a>
			<ul class="dropdown-menu">
				<li id="tab_youtube" style="display:none"><a href="#youtube" onclick="get_youtube();"><img src="/bundles/applicationanuncios/images/youtube.png" align="absmiddle"> Youtube</a></li>
				<li id="tab_vimeo" style="display:none"><a href="#vimeo" onclick="get_vimeo();"><img src="/bundles/applicationanuncios/images/vimeo.png" align="absmiddle"> Vimeo</a></li>
			</ul>
		</li>
	{% endif %}
	
	{% if entity.chromeurl or entity.androidurl or entity.itunesurl %}
		<li class="dropdown" data-dropdown="dropdown">
			<a href="#" class="dropdown-toggle">Apps</a>
			<ul class="dropdown-menu">
				<li id="tab_android" style="display:none"><a href="#android" onclick="get_android();"><img src="/bundles/applicationanuncios/images/android.png" align="absmiddle"> Android</a></li>
				<li id="tab_itunes" style="display:none"><a href="#itunes" onclick="get_itunes();"><img src="/bundles/applicationanuncios/images/itunes.png" align="absmiddle"> iPhone / iPad</a></li>
				<li id="tab_chrome" style="display:none"><a href="#chrome" onclick="get_chrome();"><img src="/bundles/applicationanuncios/images/chrome.png" align="absmiddle"> Chrome</a></li>
			</ul>
		</li>
	{% endif %}
	
	{% if entity.pinboardurl or entity.deliciousurl %}
		<li class="dropdown" data-dropdown="dropdown">
			<a href="#" class="dropdown-toggle">Favs</a>
			<ul class="dropdown-menu">
				<li id="tab_delicious" style="display:none"><a href="#delicious" onclick="get_delicious();"><img src="/bundles/applicationanuncios/images/delicious.png" align="absmiddle"> delicious</a></li>
				<li id="tab_pinboard" style="display:none"><a href="#pinboard" onclick="get_pinboard();"><img src="/bundles/applicationanuncios/images/pinboard.png" align="absmiddle"> pinboard</a></li>
			</ul>
		</li>
	{% endif %}
	
	{% if entity.twitterurl %}
		<li class="dropdown" data-dropdown="dropdown">
			<a href="#" class="dropdown-toggle">Twitter</a>
			<ul class="dropdown-menu">
				<li id="tab_twitterstatus"><a href="#twitterstatus" onclick="get_twitterstatus();">Estados</a></li>
				<li id="tab_twitter"><a href="#twitter" onclick="get_twitter();">Listas</a></li>
			</ul>
		</li>
	{% endif %}
	
	
	

	
</ul>

<div id="loader"><img src="{{ asset('bundles/applicationanuncios/images/loader.gif') }}"/></div>

<div class="pill-content">




<style>
.links A{color:#666;background:#F3F3F3;width:90px;padding:5px 0;float:left;text-align:center;margin:0 10px 10px 0}
</style>



<div class="active" id="info">
	{% if entity.body %}
		<pre>{{ entity.body}}</pre>
	{% else %}
		<pre>El usuario todavía no ha completado su descripción</pre>
	{% endif %}






	<div class="links">
		{% if entity.url %}<a rel="nofollow,noindex" target="_blank" href="{{ entity.url }}">Portafolio</a>{% endif %}
		{% if entity.getTwitterUrl() %}<a rel="nofollow,noindex" target="_blank" href="http://twitter.com/{{ entity.getTwitterUrl() }}">Twitter</a>{% endif %}
		{% if entity.getLinkedinUrl() %}<a rel="nofollow,noindex" target="_blank" href="http://es.linkedin.com/in/{{ entity.getLinkedinUrl() }}">Linkedin</a>{% endif %}
		
		{% if entity.getFlickrUrl() %}<a rel="nofollow,noindex" target="_blank" href="http://www.flickr.com/photos/{{ entity.getFlickrUrl() }}">Flickr</a>{% endif %}
		{% if entity.getDribbbleUrl() %}<a rel="nofollow,noindex" target="_blank" href="http://dribbble.com/{{ entity.getDribbbleUrl() }}">Dribbble</a>{% endif %}
		{% if entity.getForrstUrl() %}<a rel="nofollow,noindex" target="_blank" href="http://forrst.com/people/{{ entity.getForrstUrl() }}">Forrst</a>{% endif %}
		
		{% if entity.getGithubUrl() %}<a rel="nofollow,noindex" target="_blank" href="http://github.com/{{ entity.getGithubUrl() }}">Github</a>{% endif %}
		{% if entity.getStackoverflowUrl() %}<a rel="nofollow,noindex" target="_blank" href="http://stackoverflow.com/users/{{ entity.getStackoverflowUrl() }}">Stackoverflow</a>{% endif %}
		{% if entity.getMasterbranchUrl() %}<a rel="nofollow,noindex" target="_blank" href="https://www.masterbranch.com/developer/{{ entity.getMasterbranchUrl() }}">Masterbranch</a>{% endif %}
		
		{% if entity.getYoutubeUrl() %}<a rel="nofollow,noindex" target="_blank" href="http://www.youtube.com/{{ entity.getYoutubeUrl() }}">Youtube</a>{% endif %}
		{% if entity.getVimeoUrl() %}<a rel="nofollow,noindex" target="_blank" href="http://vimeo.com/{{ entity.getVimeoUrl() }}">Vimeo</a>{% endif %}
		
		{% if entity.getDeliciousUrl() %}<a rel="nofollow,noindex" target="_blank" href="http://delicious.com/{{ entity.getDeliciousUrl() }}">Delicious</a>{% endif %}
		{% if entity.getPinboardUrl() %}<a rel="nofollow,noindex" target="_blank" href="https://pinboard.in/u:{{ entity.getPinboardUrl() }}">Pinboard</a>{% endif %}
		<br class="clear"/>
	</div>
</div>



<div id="linkedin"></div>
<div id="dribbble">
	<ul class="media-grid carrusel" id="dribbble_images"></ul>
	<ul class="media-grid" id="dribbble_big"><li></li></ul>
</div>
<div id="flickr">
	<ul class="media-grid carrusel" id="flickr_images"></ul>
	<ul class="media-grid" id="flickr_big"><li></li></ul>
</div>
<div id="github">
	<div id="github_graph"></div>
	<ul id="github_projects" class="list"></ul>
</div>
<div id="forrst">
	<ul id="forrst_list" class="unstyled"></ul>
</div>
<div id="stackoverflow">
	<ul id="stackoverflow_list" class="list"></ul>
</div>
<div id="masterbranch"></div>
<div id="youtube">
	<ul class="media-grid carrusel" id="youtube_list"></ul>
	<div id="youtube_big"></div>
</div>
<div id="vimeo">
	<ul class="media-grid carrusel" id="vimeo_list"></ul>
	<div id="vimeo_big"></div>
</div>
<div id="android">
	<ul id="android_list"></ul>
</div>
<div id="itunes">
	<ul id="itunes_list"></ul>
</div>
<div id="chrome">
	<ul id="chrome_list"></ul>
</div>
<div id="twitterstatus">
	<div id="twitterstatus_info" class="clear"></div>
	<ul id="twitterstatus_list"></ul>
</div>
<div id="twitter"></div>
<div id="delicious">
	<ul id="delicious_list" class="clear"></ul>
</div>
<div id="pinboard">
	<ul id="pinboard_list" class="clear"></ul>
</div>




</div>






{% endblock %}

{% block script_load %}
	$('.tabs').tabs();
	
	

	{% if entity.linkedinurl %}
		linkedin_user = '{{ entity.linkedinurl }}';
		$('#tab_linkedin').show();
	{% endif %}


	{% if entity.dribbbleurl %}
		dribbble_user = '{{ entity.dribbbleurl }}';
		$('#tab_dribbble').show();
	{% endif %}


	{% if entity.flickrurl %}
		flickr_user = '{{ entity.flickrurl }}';
		$('#tab_flickr').show();
	{% endif %}


	{% if entity.githuburl %}
		github_user = '{{ entity.githuburl }}';
		$('#tab_github').show();
	{% endif %}

	{% if entity.forrsturl %}
		forrst_user = '{{ entity.forrsturl }}';
		$('#tab_forrst').show();
	{% endif %}

	{% if entity.stackoverflowurl %}
		stackoverflow_user = '{{ entity.stackoverflowurl }}';
		$('#tab_stackoverflow').show();
	{% endif %}


	{% if entity.masterbranchurl %}
		masterbranch_user = '{{ entity.masterbranchurl }}';
		$('#tab_masterbranch').show();
	{% endif %}


	{% if entity.youtubeurl %}
		youtube_user = '{{ entity.youtubeurl }}';
		$('#tab_youtube').show();
	{% endif %}

	{% if entity.vimeourl %}
		vimeo_user = '{{ entity.vimeourl }}';
		$('#tab_vimeo').show();
	{% endif %}


	{% if entity.androidurl %}
		android_user = '{{ entity.androidurl }}';
		$('#tab_android').show();
	{% endif %}


	{% if entity.itunesurl %}
		itunes_user = '{{ entity.itunesurl }}';
		$('#tab_itunes').show();
	{% endif %}


	{% if entity.chromeurl %}
		chrome_user = '{{ entity.chromeurl }}';
		$('#tab_chrome').show();
	{% endif %}


	{% if entity.twitterurl %}
		twitter_user = '{{ entity.twitterurl }}';
	{% endif %}

	{% if entity.deliciousurl %}
		delicious_user = '{{ entity.deliciousurl }}';
		$('#tab_delicious').show();
	{% endif %}

	{% if entity.pinboardurl %}
		pinboard_user = '{{ entity.pinboardurl }}';
		$('#tab_pinboard').show();
	{% endif %}
{% endblock %}