{% set btn_send = "Contactar" %}

{% set nav_user = 1 %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% set share_url = url('user_show', { 'id': entity.id, 'slug': entity.slug }) %}
{% set form_url = path('user_contact', { 'id': entity.id }) %}
{% block title entity.name %}

{% block sidebar %}

	{% if app.session.get('id') != entity.id %}
		{% include "ApplicationAnunciosBundle:Form:contact.html.twig" %}
		<br/><br/>
		
		
		
		<a href="{{ path('user_recommend', { 'id': entity.id }) }}" class="btn large">Recomendar</a>

		
		

		
		
	{% else %}
		<a href="{{ path('user_invite') }}" class="btn large primary" style="font-weight:bold;font-size:20px;">Invitar contactos</a>
	{% endif %}
	<br/>
	
	
	
	
	{% if entity.votes or related_users %}
	
		{% if entity.votes %}
			<a href="{{ path('user_comments', { 'id': entity.id }) }}" class="alert-message block-message warning" style="padding:14px 0;width:179px;text-align:center">
				Recomendaciones
				<b style="font-size:80px;display:block;text-align:center;line-height:80px">{{ entity.votes }}</b>
			</a>
		{% endif %}
	
		{% if related_users %}
			<b>Relacionados</b><br/><br/>
		    {% for entity in related_users %}
				<img src="{{ entity.getAvatar('mini') }}" width="35" height="35" style="float:left;margin-right:13px"/>
		           <a href="{{ path('user_show', { 'id': entity.id, 'slug': entity.slug }) }}">{{ entity.name }}</a><br class="clear"/>
		    {% endfor %}
		{% endif %}
	{% else %}

		<b>Compartir</b><br/><br/>
	
		<a href="https://twitter.com/share" class="twitter-share-button" data-lang="es">Twittear</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		<br/><br/>

		<script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
		<script type="IN/Share" data-counter="right"></script>

		<br/><br/>

		<iframe src="http://www.facebook.com/plugins/like.php?href={{ share_url }}&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe>

	{% endif %}




{% endblock %}


{% block content %}


{% if app.session.get('name') == null %}
	<div class="alert-message block-message warning" style="font-size: 17px;">
	
		Conecta con <b>{{ entity.name }}</b> y {{ total_users }} profesionales más, en el directorio podrás encontrar ofretas de empleo, buscar socios y eventos.
	
		<div class="alert-actions" style="padding-top:5px;text-align:center">
			<a class="btn" href="http://bit.ly/registerfb" style="font-weight:bold;background:#3B5998;color:white;border:0">Entrar con facebook</a> &nbsp;&nbsp;
			<a href="http://bit.ly/registerbeta">Crear cuenta</a> 
		</div>
	
	</div>
{% endif %}


<script>
var linkedin_user, dribbble_user, flickr_user, github_user, forrst_user, stackoverflow_user, masterbranch_user, youtube_user, vimeo_user, android_user, itunes_user, chrome_user, twitter_user, delicious_user, pinboard_user;
</script>

<style>
.tabs > li > a{padding:0 10px}
</style>

<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('user') }}">Profesionales</a> <span class="divider">/</span></li>
  <li><a href="{{ path('user_search') }}?c={{ entity.categoryid }}">{{ categories[ entity.categoryid ] }}</a></li>
</ul>

<div style="margin-bottom:10px;padding:12px;padding-bottom:11px;background:#000 url('/bundles/applicationanuncios/images/bgprofile.png') no-repeat left top;color:white;font-size:15px">



<img src="{{ entity.getAvatar('bigger') }}" width="100" height="100" style="float:left;margin-right:15px"/>


<h1 style="margin-bottom:5px;color:white;font-size:35px;width:410px;overflow:hidden;height:37px"><div style="width:800px">{{ entity.name }}</div></h1>
<div style="padding-bottom:10px">
{{ categories[ entity.categoryid ] }} en {{ entity.location }} 
{% if entity.freelance %}
	<span class="freelance">&#149; freelance</span>
{% endif %}
</div>



<!--<span class="date">registrado desde {{ entity.date|date('d/m/Y') }} - {{ entity.visits }} visitas</span>-->








<!--{% if entity.url %}<a rel="nofollow,noindex" target="_blank" href="{{ entity.url }}">Portafolio</a>{% endif %}-->
{% if entity.getTwitterUrl() %}<a rel="nofollow,noindex" target="_blank" href="http://twitter.com/{{ entity.getTwitterUrl() }}"><img src="/bundles/applicationanuncios/images/social/twitter.png" width="26" height="26"/></a> {% endif %}
{% if entity.getLinkedinUrl() %}<a rel="nofollow,noindex" target="_blank" href="http://es.linkedin.com/in/{{ entity.getLinkedinUrl() }}"><img src="/bundles/applicationanuncios/images/social/linkedin.png" width="26" height="26"/></a> {% endif %}

{% if entity.getFlickrUrl() %}<a rel="nofollow,noindex" target="_blank" href="http://www.flickr.com/photos/{{ entity.getFlickrUrl() }}"><img src="/bundles/applicationanuncios/images/social/flickr.png" width="26" height="26"/></a> {% endif %}
{% if entity.getDribbbleUrl() %}<a rel="nofollow,noindex" target="_blank" href="http://dribbble.com/{{ entity.getDribbbleUrl() }}"><img src="/bundles/applicationanuncios/images/social/dribbble.png" width="26" height="26"/></a> {% endif %}
{% if entity.getForrstUrl() %}<a rel="nofollow,noindex" target="_blank" href="http://forrst.com/people/{{ entity.getForrstUrl() }}"><img src="/bundles/applicationanuncios/images/social/forrst.png" width="26" height="26"/></a> {% endif %}

{% if entity.getGithubUrl() %}<a rel="nofollow,noindex" target="_blank" href="http://github.com/{{ entity.getGithubUrl() }}"><img src="/bundles/applicationanuncios/images/social/github.png" width="26" height="26"/></a> {% endif %}
{% if entity.getStackoverflowUrl() %}<a rel="nofollow,noindex" target="_blank" href="http://stackoverflow.com/users/{{ entity.getStackoverflowUrl() }}"><img src="/bundles/applicationanuncios/images/social/stackoverflow.png" width="26" height="26"/></a> {% endif %}
{% if entity.getMasterbranchUrl() %}<a rel="nofollow,noindex" target="_blank" href="https://www.masterbranch.com/developer/{{ entity.getMasterbranchUrl() }}"><img src="/bundles/applicationanuncios/images/social/masterbranch.png" width="26" height="26"/></a> {% endif %}

{% if entity.getYoutubeUrl() %}<a rel="nofollow,noindex" target="_blank" href="http://www.youtube.com/{{ entity.getYoutubeUrl() }}"><img src="/bundles/applicationanuncios/images/social/youtube.png" width="26" height="26"/></a> {% endif %}
{% if entity.getVimeoUrl() %}<a rel="nofollow,noindex" target="_blank" href="http://vimeo.com/{{ entity.getVimeoUrl() }}"><img src="/bundles/applicationanuncios/images/social/vimeo.png" width="26" height="26"/></a> {% endif %}

{% if entity.getDeliciousUrl() %}<a rel="nofollow,noindex" target="_blank" href="http://delicious.com/{{ entity.getDeliciousUrl() }}"><img src="/bundles/applicationanuncios/images/social/delicious.png" width="26" height="26"/></a> {% endif %}
{% if entity.getPinboardUrl() %}<a rel="nofollow,noindex" target="_blank" href="https://pinboard.in/u:{{ entity.getPinboardUrl() }}"><img src="/bundles/applicationanuncios/images/social/pinboard.png" width="26" height="26"/></a> {% endif %}



<br class="clear"/>


</div>




<ul id="tabs" class="tabs">


	<li class="dropdown" data-dropdown="dropdown">
		<a href="#" class="dropdown-toggle">Información</a>
		<ul class="dropdown-menu">
			<li class="active"><a href="#info"><img src="/bundles/applicationanuncios/images/portafolio.png" align="absmiddle"> Descripción</a></li>
			<li id="tab_linkedin" style="display:none"><a href="#linkedin" onclick="get_linkedin();"><img src="/bundles/applicationanuncios/images/linkedin.png" align="absmiddle"> CV en linkedin</a></li>
			{% if entity.pinboardurl or entity.deliciousurl %}
				<li id="tab_delicious" style="display:none"><a href="#delicious" onclick="get_delicious();"><img src="/bundles/applicationanuncios/images/delicious.png" align="absmiddle"> delicious</a></li>
				<li id="tab_pinboard" style="display:none"><a href="#pinboard" onclick="get_pinboard();"><img src="/bundles/applicationanuncios/images/pinboard.png" align="absmiddle"> pinboard</a></li>
			{% endif %}
		</ul>
	</li>

	{% if entity.githuburl or entity.stackoverflowurl or entity.masterbranchurl or entity.chromeurl or entity.androidurl or entity.itunesurl %}
		<li class="dropdown" data-dropdown="dropdown">
			<a href="#" class="dropdown-toggle">Programador</a>
			<ul class="dropdown-menu">
				<li id="tab_github" style="display:none"><a href="#github" onclick="get_github();"><img src="/bundles/applicationanuncios/images/github.png" align="absmiddle"> Github</a></li>
				<li id="tab_stackoverflow" style="display:none"><a href="#stackoverflow" onclick="get_stackoverflow();"><img src="/bundles/applicationanuncios/images/stackoverflow.png" align="absmiddle"> Stackoverflow</a></li>
				<li id="tab_masterbranch" style="display:none"><a href="#masterbranch" onclick="get_masterbranch();"><img src="/bundles/applicationanuncios/images/masterbranch.png" align="absmiddle"> Masterbranch</a></li>
				<li id="tab_android" style="display:none"><a href="#android" onclick="get_android();"><img src="/bundles/applicationanuncios/images/android.png" align="absmiddle"> Android</a></li>
				<li id="tab_itunes" style="display:none"><a href="#itunes" onclick="get_itunes();"><img src="/bundles/applicationanuncios/images/itunes.png" align="absmiddle"> iPhone / iPad</a></li>
				<li id="tab_chrome" style="display:none"><a href="#chrome" onclick="get_chrome();"><img src="/bundles/applicationanuncios/images/chrome.png" align="absmiddle"> Chrome</a></li>
			</ul>
		</li>
	{% endif %}
	
	{% if entity.dribbbleurl or entity.forrsturl or entity.flickrurl %}
		<li class="dropdown" data-dropdown="dropdown">
			<a href="#" class="dropdown-toggle">Diseñador</a>
			<ul class="dropdown-menu">
				<li id="tab_flickr" style="display:none"><a href="#flickr" onclick="get_flickr();"><img src="/bundles/applicationanuncios/images/flickr.png" align="absmiddle"> Flickr</a></li>
				<li id="tab_dribbble" style="display:none"><a href="#dribbble" onclick="get_dribbble();"><img src="/bundles/applicationanuncios/images/dribbble.png" align="absmiddle"> Dribbble</a></li>
				<li id="tab_forrst" style="display:none"><a href="#forrst" onclick="get_forrst();"><img src="/bundles/applicationanuncios/images/forrst.png" align="absmiddle"> Forrst</a></li>
			</ul>
		</li>
	{% endif %}
	
	{% if entity.youtubeurl or entity.vimeourl or entity.twitterurl %}
		<li class="dropdown" data-dropdown="dropdown">
			<a href="#" class="dropdown-toggle">Comunicación</a>
			<ul class="dropdown-menu">
				<li id="tab_twitterstatus"><a href="#twitterstatus" onclick="get_twitterstatus();"><img src="/bundles/applicationanuncios/images/twitter.png" align="absmiddle"> Twitter</a></li>
				<!--<li id="tab_twitter"><a href="#twitter" onclick="get_twitter();">Listas</a></li>-->
				<li id="tab_youtube" style="display:none"><a href="#youtube" onclick="get_youtube();"><img src="/bundles/applicationanuncios/images/youtube.png" align="absmiddle"> Youtube</a></li>
				<li id="tab_vimeo" style="display:none"><a href="#vimeo" onclick="get_vimeo();"><img src="/bundles/applicationanuncios/images/vimeo.png" align="absmiddle"> Vimeo</a></li>
			</ul>
		</li>
	{% endif %}
	

	

	

	
	
	

	
</ul>

<br class="clear"/>

<div id="loader"><img src="{{ asset('bundles/applicationanuncios/images/loader.gif') }}"/></div>

<div class="pill-content">







<div class="active" id="info">


	{% if badges %}
		<div style="background:#E0F2FF;margin-top:-20px;padding-bottom:5px;margin-bottom:10px">
			<img src="{{ asset('bundles/applicationanuncios/images/badges/trofeo.png') }}" width="40" height="40" style="float:left;margin:11px 0 0 11px"/>
		    {% for badge in badges %}
				<a href="{{ path('test_show', { 'id': badge.id }) }}" data-original-title="{{ badge.title }}" rel="twipsy" style="float:left;margin:11px 0 0 11px"><img src="{{ asset('bundles/applicationanuncios/images/badges/') }}{{ badge.id }}.png" width="40" height="40"/></a>
		    {% endfor %}
			<br class="clear"/>
		</div>
	{% endif %}



	{% if entity.body %}
		<pre>{{ entity.body}}</pre>
	{% else %}
		<pre>El usuario todavía no ha completado su descripción :(</pre>
	{% endif %}





</div>



<div id="linkedin"></div>
<div id="dribbble">
	<ul class="media-grid carrusel" id="dribbble_images"></ul>
	<ul class="media-grid" id="dribbble_big"><li></li></ul>
</div>
<div id="flickr">
	<ul class="media-grid carrusel" id="flickr_images"></ul>
	<ul class="media-grid" id="flickr_big"><li></li></ul>
</div>
<div id="github">
	<div id="github_graph"></div>
	<ul id="github_projects" class="list"></ul>
</div>
<div id="forrst">
	<ul id="forrst_list" class="unstyled"></ul>
</div>
<div id="stackoverflow">
	<ul id="stackoverflow_list" class="list"></ul>
</div>
<div id="masterbranch"></div>
<div id="youtube">
	<ul class="media-grid carrusel" id="youtube_list"></ul>
	<div id="youtube_big"></div>
</div>
<div id="vimeo">
	<ul class="media-grid carrusel" id="vimeo_list"></ul>
	<div id="vimeo_big"></div>
</div>
<div id="android">
	<ul id="android_list"></ul>
</div>
<div id="itunes">
	<ul id="itunes_list"></ul>
</div>
<div id="chrome">
	<ul id="chrome_list"></ul>
</div>
<div id="twitterstatus">
	<div id="twitterstatus_info" class="clear"></div>
	<ul id="twitterstatus_list"></ul>
</div>
<div id="twitter"></div>
<div id="delicious">
	<ul id="delicious_list" class="clear"></ul>
</div>
<div id="pinboard">
	<ul id="pinboard_list" class="clear"></ul>
</div>




</div>






{% endblock %}

{% block script_load %}
	$('.tabs').tabs();
	
	

	{% if entity.linkedinurl %}
		linkedin_user = '{{ entity.linkedinurl }}';
		$('#tab_linkedin').show();
	{% endif %}


	{% if entity.dribbbleurl %}
		dribbble_user = '{{ entity.dribbbleurl }}';
		$('#tab_dribbble').show();
	{% endif %}


	{% if entity.flickrurl %}
		flickr_user = '{{ entity.flickrurl }}';
		$('#tab_flickr').show();
	{% endif %}


	{% if entity.githuburl %}
		github_user = '{{ entity.githuburl }}';
		$('#tab_github').show();
	{% endif %}

	{% if entity.forrsturl %}
		forrst_user = '{{ entity.forrsturl }}';
		$('#tab_forrst').show();
	{% endif %}

	{% if entity.stackoverflowurl %}
		stackoverflow_user = '{{ entity.stackoverflowurl }}';
		$('#tab_stackoverflow').show();
	{% endif %}


	{% if entity.masterbranchurl %}
		masterbranch_user = '{{ entity.masterbranchurl }}';
		$('#tab_masterbranch').show();
	{% endif %}


	{% if entity.youtubeurl %}
		youtube_user = '{{ entity.youtubeurl }}';
		$('#tab_youtube').show();
	{% endif %}

	{% if entity.vimeourl %}
		vimeo_user = '{{ entity.vimeourl }}';
		$('#tab_vimeo').show();
	{% endif %}


	{% if entity.androidurl %}
		android_user = '{{ entity.androidurl }}';
		$('#tab_android').show();
	{% endif %}


	{% if entity.itunesurl %}
		itunes_user = '{{ entity.itunesurl }}';
		$('#tab_itunes').show();
	{% endif %}


	{% if entity.chromeurl %}
		chrome_user = '{{ entity.chromeurl }}';
		$('#tab_chrome').show();
	{% endif %}


	{% if entity.twitterurl %}
		twitter_user = '{{ entity.twitterurl }}';
	{% endif %}

	{% if entity.deliciousurl %}
		delicious_user = '{{ entity.deliciousurl }}';
		$('#tab_delicious').show();
	{% endif %}

	{% if entity.pinboardurl %}
		pinboard_user = '{{ entity.pinboardurl }}';
		$('#tab_pinboard').show();
	{% endif %}
{% endblock %}