{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% set form_url = path('user_contact', { 'id': entity.id }) %}
{% block title entity.name %}

{% block sidebar %}

	{% include "ApplicationAnunciosBundle:Form:contact.html.twig" %}
	
	<br/><br/>
	
	<b>Perfiles</b>
	
	<br/>
	
	{% if entity.url %}<a href="{{ entity.url }}">Portafolio</a>{% endif %}
	{% if entity.twitterurl %}<a href="http://twitter.com/{{ entity.twitterurl }}">Twitter</a>{% endif %}
	{% if entity.linkedinurl %}<a href="http://es.linkedin.com/in/{{ entity.linkedinurl }}">Linkedin</a>{% endif %}
	{% if entity.forrsturl %}<a href="http://forrst.com/people/{{ entity.forrsturl }}">Forrst</a>{% endif %}
	{% if entity.githuburl %}<a href="http://github.com/{{ entity.githuburl }}">Github</a>{% endif %}
	{% if entity.dribbbleurl %}<a href="http://dribbble.com/{{ entity.dribbbleurl }}">Dribbble</a>{% endif %}
	{% if entity.flickrurl %}<a href="http://flickr.com/{{ entity.flickrurl }}">Flickr</a>{% endif %}
	{% if entity.youtubeurl %}<a href="http://www.youtube.com/user/{{ entity.youtubeurl }}">Youtube</a>{% endif %}
	
{% endblock %}


{% block content %}

<style>
H1{font-size:24px}
</style>


<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('user') }}">Profesionales</a> <span class="divider">/</span></li>
  <li class="active"><a href="{{ path('post_search') }}?c={{ entity.categoryid }}">{{ categories[ entity.categoryid ] }}</a> <span class="divider">/</span></li>
</ul>




<img src="{{ entity.getAvatar(100) }}" width="100" height="100" style="float:left;margin-right:10px"/>

<h1>{{ entity.name }}</h1>












<b>{{ entity.location }}</b> 

{% if entity.freelance %}
	<span class="freelance">&#149; freelance</span>
{% endif %}

<br/>


<span class="date">registrado desde {{ entity.date|date('d/m/Y') }}</span>
<br/><br/><br/>



{% if entity.body %}
	<pre>{{ entity.body}}</pre>
{% endif %}


	






{% endblock %}