{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% set form_url = path('user_contact', { 'id': entity.id }) %}
{% block title entity.name %}

{% block sidebar %}

	{% if app.session.get('id') != entity.id %}
		{% include "ApplicationAnunciosBundle:Form:contact.html.twig" %}
		<br/>
	{% else %}
		<a href="{{ path('user_invite') }}" class="btn large primary">Invitar contactos</a>
	{% endif %}
	<br/>
	
	
	
	
	
	{% if entity.url %}<a rel="nofollow,noindex" target="_blank" class="ico portafolio" href="{{ entity.url }}">Portafolio</a>{% endif %}
	{% if entity.twitterurl %}<a rel="nofollow,noindex" target="_blank" class="ico twitter" href="http://twitter.com/{{ entity.twitterurl }}">Twitter</a>{% endif %}
	{% if entity.linkedinurl %}<a rel="nofollow,noindex" target="_blank" class="ico linkedin" href="http://es.linkedin.com/in/{{ entity.linkedinurl }}">Linkedin</a>{% endif %}
	{% if entity.forrsturl %}<a rel="nofollow,noindex" target="_blank" class="ico forrst" href="http://forrst.com/people/{{ entity.forrsturl }}">Forrst</a>{% endif %}
	{% if entity.githuburl %}<a rel="nofollow,noindex" target="_blank" class="ico github" href="http://github.com/{{ entity.githuburl }}">Github</a>{% endif %}
	{% if entity.stackoverflowurl %}<a rel="nofollow,noindex" target="_blank" class="ico stackoverflow" href="http://stackoverflow.com/users/{{ entity.stackoverflowurl }}">Stackoverflow</a>{% endif %}
	{% if entity.masterbranchurl %}<a rel="nofollow,noindex" target="_blank" class="ico masterbranch" href="https://www.masterbranch.com/developer/{{ entity.masterbranchurl }}">Masterbranch</a>{% endif %}
	{% if entity.dribbbleurl %}<a rel="nofollow,noindex" target="_blank" class="ico dribbble" href="http://dribbble.com/{{ entity.dribbbleurl }}">Dribbble</a>{% endif %}
	{% if entity.flickrurl %}<a rel="nofollow,noindex" target="_blank" class="ico flickr" href="http://flickr.com/photos/{{ entity.flickrurl }}">Flickr</a>{% endif %}
	{% if entity.youtubeurl %}<a rel="nofollow,noindex" target="_blank" class="ico youtube" href="http://www.youtube.com/user/{{ entity.youtubeurl }}">Youtube</a>{% endif %}
	{% if entity.vimeourl %}<a rel="nofollow,noindex" target="_blank" class="ico vimeo" href="http://vimeo.com/{{ entity.vimeourl }}">Vimeo</a>{% endif %}
	{% if entity.deliciousurl %}<a rel="nofollow,noindex" target="_blank" class="ico delicious" href="http://delicious.com/{{ entity.deliciousurl }}">Delicious</a>{% endif %}
	{% if entity.pinboardurl %}<a rel="nofollow,noindex" target="_blank" class="ico pinboard" href="https://pinboard.in/u:{{ entity.pinboardurl }}">Pinboard</a>{% endif %}
	{% if entity.itunesurl %}<a rel="nofollow,noindex" target="_blank" class="ico itunes" href="http://www.appannie.com/company/{{ entity.itunesurl }}">Aplicaciones iOS</a>{% endif %}
	{% if entity.androidurl %}<a rel="nofollow,noindex" target="_blank" class="ico android" href="https://market.android.com/developer?pub={{ entity.androidurl }}">Aplicaciones Android</a>{% endif %}
	{% if entity.chromeurl %}<a rel="nofollow,noindex" target="_blank" class="ico chrome" href="https://chrome.google.com/webstore/search?q={{ entity.chromeurl }}">Extensiones chrome</a>{% endif %}
	
{% endblock %}


{% block content %}




<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('user') }}">Profesionales</a> <span class="divider">/</span></li>
  <li><a href="{{ path('user_search') }}?c={{ entity.categoryid }}">{{ categories[ entity.categoryid ] }}</a></li>
</ul>



<img src="{{ entity.getAvatar('bigger') }}" width="100" height="100" style="float:left;margin-right:10px"/>

<h1 style="margin-bottom:0">{{ entity.name }}</h1>
<b>{{ categories[ entity.categoryid ] }}</b> 
{% if entity.freelance %}
	<span class="freelance">&#149; freelance</span>
{% endif %}
<br/>
{{ entity.location }}
<br/>
<span class="date">registrado desde {{ entity.date|date('d/m/Y') }}</span>
<br/><br/><br/>


<ul id="tabs" class="tabs">
	<li class="active"><a href="#info">Información</a></li>

	{% if entity.dribbbleurl or entity.flickrurl %}
		<li class="dropdown" data-dropdown="dropdown">
			<a href="#" class="dropdown-toggle">Diseño</a>
			<ul class="dropdown-menu">
				<li id="tab_flickr" style="display:none"><a href="#flickr" onclick="get_flickr();">Flickr</a></li>
				<li id="tab_dribbble" style="display:none"><a href="#dribbble" onclick="get_dribbble();">Dribbble</a></li>
			</ul>
		</li>
	{% endif %}
	
	{% if entity.githuburl or entity.stackoverflowurl or entity.masterbranchurl %}
		<li class="dropdown" data-dropdown="dropdown">
			<a href="#" class="dropdown-toggle">Programación</a>
			<ul class="dropdown-menu">
				<li id="tab_github" style="display:none"><a href="#github" onclick="get_github();">Github</a></li>
				<li id="tab_stackoverflow" style="display:none"><a href="#stackoverflow" onclick="get_stackoverflow();">Stackoverflow</a></li>
				<li id="tab_masterbranch" style="display:none"><a href="#masterbranch" onclick="get_masterbranch();">Masterbranch</a></li>
			</ul>
		</li>
	{% endif %}
	
	{% if entity.youtubeurl or entity.vimeourl %}
		<li class="dropdown" data-dropdown="dropdown">
			<a href="#" class="dropdown-toggle">Video</a>
			<ul class="dropdown-menu">
				<li id="tab_youtube" style="display:none"><a href="#youtube" onclick="get_youtube();">Youtube</a></li>
				<li id="tab_vimeo" style="display:none"><a href="#vimeo" onclick="get_vimeo();">Vimeo</a></li>
			</ul>
		</li>
	{% endif %}
	
	{% if entity.chromeurl or entity.androidurl %}
		<li class="dropdown" data-dropdown="dropdown">
			<a href="#" class="dropdown-toggle">Apps</a>
			<ul class="dropdown-menu">
				<li id="tab_android" style="display:none"><a href="#android" onclick="get_android();">Android</a></li>
				<li id="tab_chrome" style="display:none"><a href="#chrome" onclick="get_chrome();">Chrome</a></li>
				<li id="tab_itunes" style="display:none"><a href="#itunes" onclick="get_itunes();">iTunes</a></li>
			</ul>
		</li>
	{% endif %}
	
	<li id="tab_twitter" style="display:none"><a href="#twitter" onclick="get_twitter();">Twitter</a></li>
	
</ul>

<div id="loader"><img src="{{ asset('bundles/applicationanuncios/images/loader.gif') }}"/></div>

<div class="pill-content">






<div class="active" id="info">
	{% if entity.body %}
		<pre>{{ entity.body}}</pre>
	{% else %}
		<pre>El usuario todavía no ha completado su descripción</pre>
	{% endif %}
</div>





{% if entity.dribbbleurl %}

	<div id="dribbble">
		<ul class="media-grid carrusel" id="dribbble_images"></ul>
		<ul class="media-grid" id="dribbble_big"><li></li></ul>
	</div>

	<script>
	var dribbble_user = '{{ entity.dribbbleurl }}';
	$('#tab_dribbble').show();
	</script>

{% endif %}


{% if entity.flickrurl %}

	<div id="flickr">
		<ul class="media-grid carrusel" id="flickr_images"></ul>
		<ul class="media-grid" id="flickr_big"><li></li></ul>
	</div>

	<script>
	var flickr_user = '{{ entity.flickrurl }}';
	$('#tab_flickr').show();
	</script>

{% endif %}


{% if entity.githuburl %}

	<div id="github">
		<div id="github_graph"></div>
		<ul id="github_projects" class="list"></ul>
	</div>

	<script>
	var github_user = '{{ entity.githuburl }}';
	$('#tab_github').show();
	</script>

{% endif %}

{% if entity.stackoverflowurl %}

	<div id="stackoverflow">
		<ul id="stackoverflow_list" class="list"></ul>
	</div>

	<script>
	var stackoverflow_user = '{{ entity.stackoverflowurl }}';
	$('#tab_stackoverflow').show();
	</script>

{% endif %}


{% if entity.masterbranchurl %}

	<div id="masterbranch"></div>

	<script>
	var masterbranch_user = '{{ entity.masterbranchurl }}';
	$('#tab_masterbranch').show();
	</script>

{% endif %}


{% if entity.youtubeurl %}
	
	<div id="youtube">
		<ul class="media-grid carrusel" id="youtube_list"></ul>
		<div id="youtube_big"></div>
	</div>

	<script>
	var youtube_user = '{{ entity.youtubeurl }}';
	$('#tab_youtube').show();
	</script>

{% endif %}

{% if entity.vimeourl %}
	
	<div id="vimeo">
		<ul class="media-grid carrusel" id="vimeo_list"></ul>
		<div id="vimeo_big"></div>
	</div>

	<script>
	var vimeo_user = '{{ entity.vimeourl }}';
	$('#tab_vimeo').show();
	</script>

{% endif %}


{% if entity.androidurl %}
	
	<div id="android">
		<ul id="android_list"></ul>
	</div>

	<script>
	var android_user = '{{ entity.androidurl }}';
	$('#tab_android').show();
	</script>

{% endif %}


{% if entity.itunesurl %}
	
	<div id="itunes">
		<ul id="itunes_list"></ul>
	</div>

	<script>
	var itunes_user = '{{ entity.itunesurl }}';
	$('#tab_itunes').show();
	</script>

{% endif %}


{% if entity.chromeurl %}
	
	<div id="chrome">
		<ul id="chrome_list"></ul>
	</div>

	<script>
	var chrome_user = '{{ entity.chromeurl }}';
	$('#tab_chrome').show();
	</script>

{% endif %}


{% if entity.twitterurl %}

	<div id="twitter"></div>
	<br style="clear:both"/>

	<script>
	var twitter_user = '{{ entity.twitterurl }}';
	$('#tab_twitter').show();
	</script>

{% endif %}


</div>






{% endblock %}

{% block script_load %}
	$('.tabs').tabs();
{% endblock %}