{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Amplia tu red de contactos, trabaja en la mejor startup" %}


{% block sidebar %}
	
	
	<b>Red de profesionales</b><br/>
	
	{% for category in categories_aux %}
		{% if category.category_id != 0 and category.category_id != 13 %}
			<a href="{{ path('user') }}?c={{ category.category_id }}"><b>{{ category.total }}</b> &nbsp;{{ categories[ category.category_id ] }}</a>
		{% endif %}
	{% endfor %}


	
{% endblock %}


{% block content %}



<h1 style="font-size:40px;letter-spacing:-1px;line-height:40px;margin-bottom:30px">Amplia tu red de contactos, trabaja en la mejor startup</h1>


<div class="row">
	<div class="span1">
		<img src="{{ asset('bundles/applicationanuncios/images/startups.png') }}"/>
	</div>
	<div class="span6">
		<b>Portal de empleo dedicado a startups</b><br/>
		Publica ofertas de trabajo y encuentra el mejor candidato sea programador frontend, programador móvil, diseñador, community manager, etc.
	</div>
</div>

<br/>

<div class="row">
	<div class="span1">
		<img src="{{ asset('bundles/applicationanuncios/images/team.png') }}"/>
	</div>
	<div class="span6">
		<b>Forma un equipo para crear una startup</b><br/>
		Busca el perfil en el directorio o publica un anuncio con la idea que quieres desarrollar y los perfiles que buscas.
	</div>
</div>

<br/>

<div class="row">
	<div class="span1">
		<img src="{{ asset('bundles/applicationanuncios/images/talent.png') }}"/>
	</div>
	<div class="span6">
		<b>Demuestra tu talento</b><br/>
		Introduce tus perfiles, muestra tus últimos trabajos y demuestra lo que eres capaz de hacer.
	</div>
</div>

<br/>
	
<div style="float:left;padding:0 35px 0 60px;">
	<br/>
	<a href="{{ path('user_register') }}" class="btn primary">Registrarme</a> &nbsp;<a href="{{ path('user_login') }}" class="btn">Iniciar sesión</a>
	<br/><br/>
	<a href="{{ path('user_fblogin') }}" style="background:url('{{ asset('bundles/applicationanuncios/images/facebook.png') }}') no-repeat left center;padding-left:21px;">Iniciar sesión con facebook</a>
</div>

<div style="float:left;color:#666;width:225px;">
	Ya están registrados...<br/>
	{% for user in users %}
		<a href="{{ path('user_show', { 'id': user.id }) }}" data-original-title="<b>{{ categories[ user.getCategoryId() ] }}</b><br/>{{ user.getName() }}" rel="twipsy" style="float:left;margin-right:5px"><img src="{{ user.getAvatar('normal') }}" width="38" height="38"/></a>
	{% endfor %}
</div>

<br class="clear"/><br/>











{% endblock %}