{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Administrar anuncios" %}


{% block sidebar %}

	<a href="{{ path('post_new') }}" class="btn large primary">Publicar anuncio</a>
	<br/>


	<b>Filtrar por categoría</b><br/>
	{% for category in categories_aux %}
		{% if category.category_id != 0 and category.category_id != 13 %}
			<a href="{{ path('post_admin') }}?c={{ category.category_id }}"><b>{{ category.total }}</b> &nbsp;{{ categories[ category.category_id ] }}</a>
		{% endif %}
	{% endfor %}

{% endblock %}



{% block content %}


<h1>Administrar anuncios</h1>



{% if entities %}

	<table class="zebra-striped">
		<thead>
			<tr>
				<th>Anuncio</th>
				<th>Visitas</th>
				<th>Interesados</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
	    {% for entity in entities %}

			{% if entity.featured == 1 %}
				{% set featured = 'NULL' %}
			{% else %}
				{% set featured = 1 %}
			{% endif %}
			
			{% if entity.visible == 1 %}
				{% set visible = 'NULL' %}
			{% else %}
				{% set visible = 1 %}
			{% endif %}

	        <tr>
				<td>
					<a href="{{ path('post_show', { 'id': entity.id }) }}">{{ entity.title }}</a>
					<br/><span class="date">{{ entity.date|date('d/m/Y') }} {% if entity.location %}- {{ entity.location }}{% endif %}</span>
				</td>
				<td>{{ entity.visits }}</td>
				<td>{{ entity.interested }}</td>
				<td nowrap="nowrap">
					<a href="{{ path('post_edit', { 'id': entity.id }) }}" class="btn">editar</a> 
					<a href="{{ path('post_admin_featured', { 'id': entity.id, 'value': featured }) }}" class="btn {% if entity.featured %}primary{% endif %}">&#9733;</a>
					<a href="{{ path('post_admin_visible', { 'id': entity.id, 'value': visible }) }}">{% if entity.visible %}visible{% else %}<span style="color:red">oculto</span>{% endif %}</a>
				</td>
	        </tr>
	    {% endfor %}
	    </tbody>
	</table>
	{{ pager|raw }}
{% else %}
	sin resultados, prueba con otra busqueda
{% endif %}




{% endblock %}