{% set nav_post = 1 %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title %}Ofertas de empleo en {{ city.name }}, {{ country.name }}{% endblock %}


{% block sidebar %}
	<a href="{{ path('post_new') }}" class="btn btn-large btn-primary">Publicar empleo</a>


	<b>Filtrar por categoría</b><br/><br/>
	<ul>
	{% for category in categories %}
		<li><a href="{{ path('post') }}?c={{loop.index0}}">{{category}}</a></li>
	{% endfor %}
	</ul>
	

	
{% endblock %}



{% block content %}




<h1>Ofertas de empleo en {{ city.name }}, {{ country.name }}</h1>



{% for entity in entities %}
	<div style="padding:10px 0;border-top:1px #efefef solid;{% if entity.featured != 1 and loop.index is divisibleby(2) %}background:#F6F6F6{% endif %}" {% if entity.featured == 1 %}class="featured"{% endif %}>

		<div style="float:left;width:415px;padding-left:15px">
			<a href="{{ path('post_show', { 'id': entity.id, 'slug': entity.slug }) }}" class="title" style="font-size:15px;line-height:16px;font-weight:bold;">{{ entity.title }}</a><br/>
			{% if entity.company %}
				{{ entity.company }} - 
			{% endif %}
			<a href="{{ path('post_city', { 'id': entity.getCityId() }) }}" style="color:black">{{ entity.location }}</a>
		</div>
		
		<div style="float:right;width:100px;">
			{% if entity.type == 0 %}
				<span class="label label-success">Empleo</span>
			{% elseif entity.type == 1 %}
				<span class="label label-info">Freelance</span>
			{% else %}
				<span class="label label-warning">Prácticas</span>
			{% endif %}<br/>
			<span class="date">{{ entity.date|date('d/m/Y') }}</span>
		</div>
		

		




		<!--<b>{{ categories[ entity.getCategoryId() ] }}</b>-->
		<br class="clear"/>
        
    </div>
{% endfor %}






{{ pager|raw }}




{% endblock %}