{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% form_theme edit_form 'ApplicationAnunciosBundle:Form:fields.html.twig' %}

{% block title "Editar anuncio" %}

{% block content %}

<style>
TEXTAREA.xlarge{width:500px}
</style>

<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('post') }}">Anuncios</a> <span class="divider">/</span></li>
  <li class="active">Editar anuncio <span class="divider">/</span></li>
</ul>

<h1>Editar anuncio</h1>

<form class="form" action="{{ path('post_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>



	{{ form_errors(edit_form) }}
	
	<div class="clearfix">
		<label>Categoría</label>
		<div class="input">
			<select id="application_anunciosbundle_posttype_category_id" name="application_anunciosbundle_posttype[category_id]">
				{% for category in categories %}
					{% if loop.index0 > 0 %}
						<option value="{{loop.index0}}" {% if loop.index0 == entity.getCategoryId() %}selected="selected"{% endif %} >{{category}}</a>
					{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>
	
	{{ form_row(edit_form.title, { 'label': 'Titulo' }) }}

	{{ form_row(edit_form.body, { 'label': 'Descripción' }) }}
	
	{{ form_row(edit_form.email, { 'label': 'Email' }) }}
	
	{{ form_row(edit_form.location, { 'label': 'Localización' }) }}

	{{ form_row(edit_form.price, { 'label': 'Precio' }) }}
	
	<div class="actions">

		<button type="submit" class="btn primary">Guardar cambios</button> &nbsp;
		<a href="{{ path('post_show', { 'id': entity.id }) }}" class="btn">Cancelar</a> &nbsp;
	
		{% if app.session.get('admin') %}	
			<a href="{{ path('post_delete', { 'id': entity.id }) }}" class="btn danger pull-right">Eliminar</a>
		{% endif %}
	
	</div>
	
	{{ form_row(edit_form._token) }}

</form>

{% endblock %}

{% block script_load %}

	$('#application_anunciosbundle_posttype_location')
		.attr('rel','popover')
		.attr('data-original-title','¿Es presencial?')
		.attr('data-content','Si es un empleo que requiera asistir introduce la ciudad, si es un trabajo freelance que no importa de donde es la persona no hace falta rellenar este campo');

		$('#application_anunciosbundle_posttype_price')
			.attr('rel','popover')
			.attr('data-original-title','¿Es un trabajo freelance?')
			.attr('data-content','Introduce un precio, puedes poner un valor fijo o un rango de precios');

	$("*[rel=popover]")
		.popover({offset: 10})
		.click(function(e) {
			e.preventDefault()
		});

{% endblock %}