{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% form_theme edit_form 'ApplicationAnunciosBundle:Form:fields.html.twig' %}

{% block title "Editar anuncio" %}

{% block content %}

<style>
TEXTAREA.xlarge{width:430px}
#application_anunciosbundle_posttype_type label{float:none;margin:0 20px 0 5px}
</style>



<h1>Editar anuncio</h1>

<form class="form" action="{{ path('post_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>



	{{ form_errors(edit_form) }}
	
	{{ form_row(edit_form.type, { 'label': 'Tipo' }) }}
	
	<div class="clearfix">
		<label>Perfil</label>
		<div class="input">
			<select id="application_anunciosbundle_posttype_category_id" name="application_anunciosbundle_posttype[category_id]">
				{% for category in categories %}
					{% if loop.index0 > 0 %}
						<option value="{{loop.index0}}" {% if loop.index0 == entity.getCategoryId() %}selected="selected"{% endif %} >{{category}}</a>
					{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>
	
	{{ form_row(edit_form.title, { 'label': 'Titulo' }) }}

	{{ form_row(edit_form.body, { 'label': 'Descripción' }) }}
	
	{{ form_row(edit_form.email, { 'label': 'Email' }) }}
	
	<div id="price">
		{{ form_row(edit_form.price, { 'label': 'Sueldo' }) }}
	</div>

	<div id="nolocation" class="clearfix">
		<label></label>
		<div class="input">
			<input type="checkbox" id="chk_location"/> <label for="chk_location" style="float:none">¿Es un trabajo presencial?</label>
		</div>
	</div>
	<div id="geo">
		{{ form_row(edit_form.location, { 'label': 'Localización' }) }}
		<div class="hide">
			{{ form_row(edit_form.country_id, { 'label': 'country' }) }}
			{{ form_row(edit_form.city_id, { 'label': 'city' }) }}
		</div>
	</div>



	
	<div class="actions">

		<button type="submit" class="btn primary">Guardar cambios</button> &nbsp;
		<a href="{{ path('post_show', { 'id': entity.id }) }}" class="btn">Cancelar</a> &nbsp;
	
		{% if app.session.get('admin') %}	
			<a href="{{ path('post_delete', { 'id': entity.id }) }}" class="btn danger pull-right">Eliminar</a>
		{% endif %}
	
	</div>
	
	{{ form_row(edit_form._token) }}

</form>

{% endblock %}

{% block script_load %}

	autoGeo();
	

	
	// need location?
	$('#chk_location').click(function(){
		if( $(this).attr('checked') ){
			$('#geo').show();
			$('#geo input:first').focus();
		}else{
			$('#geo').hide();
			$('#geo input:first').val('');
		}
	});
	{% if entity.location == '' %}
		$('#geo').hide();
	{% else %}
		$('#chk_location').attr('checked','checked');
	{% endif %}
	
	
{% endblock %}