{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% form_theme edit_form 'ApplicationAnunciosBundle:Form:fields.html.twig' %}

{% block title "Editar anuncio" %}

{% block content %}

<style>
TEXTAREA.xlarge{width:430px}
#application_anunciosbundle_posttype_type label{float:none;margin:0 20px 0 5px}
</style>



<h1>Editar anuncio</h1>

<form class="form" action="{{ path('post_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>



	{{ form_errors(edit_form) }}
	
	{{ form_row(edit_form.type, { 'label': 'Tipo' }) }}
	
	<div class="clearfix">
		<label>Perfil</label>
		<div class="input">
			<select id="application_anunciosbundle_posttype_category_id" name="application_anunciosbundle_posttype[category_id]">
				{% for category in categories %}
					{% if loop.index0 > 0 %}
						<option value="{{loop.index0}}" {% if loop.index0 == entity.getCategoryId() %}selected="selected"{% endif %} >{{category}}</a>
					{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>
	
	{{ form_row(edit_form.title, { 'label': 'Titulo' }) }}

	{{ form_row(edit_form.body, { 'label': 'Descripción' }) }}
	
	{{ form_row(edit_form.company, { 'label': 'Empresa' }) }}
	
	{{ form_row(edit_form.email, { 'label': 'Email' }) }}
	
	<div id="price">
		{{ form_row(edit_form.price, { 'label': 'Sueldo' }) }}
	</div>

	<div id="geo">
	{{ form_row(edit_form.location, { 'label': 'Localidad' }) }}
	<div class="hide">
		{{ form_row(edit_form.country_id, { 'label': 'country' }) }}
		{{ form_row(edit_form.city_id, { 'label': 'city' }) }}
	</div>
	</div>




	
	<div class="actions">

		<button type="submit" class="btn primary" style="width:150px">Guardar cambios</button> &nbsp;
		<a href="{{ path('post_show', { 'id': entity.id, 'slug': entity.slug }) }}" class="btn">Cancelar</a> &nbsp;
	
		{% if app.session.get('admin') %}	
			<a href="{{ path('post_delete', { 'id': entity.id }) }}" class="btn danger pull-right">Eliminar</a>
		{% endif %}
	
	</div>
	
	{{ form_row(edit_form._token) }}

</form>

{% endblock %}

{% block script_load %}

	autoGeo();
	


	
	
{% endblock %}