{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Anuncios" %}


{% block sidebar %}
	<a href="{{ path('post_new') }}" class="btn large primary">Publicar anuncio</a>
	<br/>

	<b>Filtrar por categoría</b><br/>
	{% for category in categories %}
		<a href="{{ path('post') }}search?c={{loop.index0}}">{{category}}</a>
	{% endfor %}
{% endblock %}



{% block content %}


<h1>Anuncios</h1>




<ul>
    {% for entity in entities %}
        <li>
            <!--<b>{{ categories[ entity.categoryid ] }}</b><br/>#{{ entity.id }} -->
            <a href="{{ path('post_show', { 'id': entity.id }) }}" class="title">{{ entity.title }}</a><br/>
            {{ entity.body }}<br/>
            <!--{{ entity.userid }}<br/>-->
            <span class="date">{{ entity.date|date('d/m/Y') }}</span>
			<!--<br/><a href="{{ path('post_edit', { 'id': entity.id }) }}">editar</a>-->
			<br/><br/>
        </li>
    {% endfor %}
</ul>





{{ pager|raw }}




{% endblock %}