{% set nav_post = 1 %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Bolsa de empleo 2.0" %}


{% block sidebar %}

	
	<b>Empresas que buscan talento</b><br/>
	<a href="http://dir.betabeers.com/post/search?q=chicisimo"><img src="{{ asset( 'bundles/applicationanuncios/images/companies/chicisimo.png' ) }}"/></a>
	<a href="http://dir.betabeers.com/post/search?q=softonic"><img src="{{ asset( 'bundles/applicationanuncios/images/companies/softonic.png' ) }}"/></a>
	<a href="http://dir.betabeers.com/post/search?q=idealista"><img src="{{ asset( 'bundles/applicationanuncios/images/companies/idealista.png' ) }}"/></a>
	<a href="http://dir.betabeers.com/post/search?q=11870"><img src="{{ asset( 'bundles/applicationanuncios/images/companies/11870.png' ) }}"/></a>

	

	<br/>

	<b>Categorías</b><br/>
	{% for category in categories %}
		{% if loop.index0 != 0 and loop.index0 != 13 %}
			<!--<a href="{{ path('post_feed') }}?c={{loop.index0}}" class="rss"><img src="{{ asset( 'bundles/applicationanuncios/images/rss.png' ) }}" width="12" height="12"/></a>-->
			<a href="{{ path('post') }}?c={{loop.index0}}">{{category}}</a>
		{% endif %}
	{% endfor %}
	

	
{% endblock %}



{% block content %}

<style>
.featured{background:#FEFBF3}
	.featured a{color:orange}
</style>




<div style="float:left;width:150px;overflow:hidden;">
	<a href="https://twitter.com/betabeers" class="twitter-follow-button" data-show-screen-name="false" data-lang="es">Seguir</a>
	<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
</div>
<iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/pages/Betabeers/184600811561767&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;float:left;margin-left:20px" allowTransparency="true"></iframe>


<br class="clear"/>

<!--
<div style="float:right;margin-top:13px;padding:7px;background:#DDF4FB">
	<a href="{{ path('post_feed') }}" style="background:url('{{ asset( 'bundles/applicationanuncios/images/rss.png' ) }}') no-repeat left center;padding-left:20px;font-weight:bold;color:black">Recibir ofertas de empleo</a><br/>
	<a href="http://feedburner.google.com/fb/a/mailverify?uri=betabeersjobs&amp;loc=en_US">Subscribe to Beetabeers Jobs by Email</a>
	<form style="padding-top:8px;margin-bottom:0" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=betabeersjobs', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><input placeholder="Tu email" type="text" style="width:100px" name="email"/> <input type="hidden" value="betabeersjobs" name="uri"/><input type="hidden" name="loc" value="es_ES"/><input type="submit" value="Apuntarme" class="btn" /></form>
</div>
-->


<a href="{{ path('post_new') }}" class="btn large primary" style="float:right;margin-top:30px;font-weight:bold;font-size:20px;">Publicar empleo</a>

<div style="float:left;margin-top:5px">
	<h1>Bolsa de empleo 2.0</h1>
	<form action="{{ path('post_search') }}">
		<input name="q" placeholder="Posicíón, keyword o empresa" style="width:250"/> <input value="Buscar" type="submit" class="btn" style="font-weight:bold"/>
	</form>
</div>


<br class="clear"/>



<div style="padding: 6px 0 9px 16px;border-top: 1px #efefef solid;background:#F6F6F6">
	<a href="http://dir.betabeers.com/post/?c=2" style="color:black;margin-right:20px">Backend</a>
	<a href="http://dir.betabeers.com/post/?c=1" style="color:black;margin-right:20px">Frontend</a>
	<a href="http://dir.betabeers.com/post/?c=3" style="color:black;margin-right:20px">Programador apps</a>
	<a href="http://dir.betabeers.com/post/?c=8" style="color:black;margin-right:20px">Diseñador</a>
	<a href="{{ path('post_internship') }}" style="font-weight:bold;color:black;margin-right:20px">Prácticas</a>
	<a href="http://dir.betabeers.com/post/search?t=1" style="font-weight:bold;color:black;margin-right:20px">Freelance</a>
</div>


    {% for entity in entities %}
		<div style="padding:10px 0;border-top:1px #efefef solid;{% if entity.featured != 1 and loop.index is divisibleby(2) %}background:#F6F6F6{% endif %}" {% if entity.featured == 1 %}class="featured"{% endif %}>

			<div style="float:left;width:415px;padding-left:15px">
				<a href="{{ path('post_show', { 'id': entity.id, 'slug': entity.slug }) }}" class="title" style="font-size:15px;line-height:16px;font-weight:bold;">{{ entity.title }}</a><br/>
				{% if entity.company %}
					{{ entity.company }} - 
				{% endif %}
				<a href="{{ path('post_city', { 'id': entity.getCityId() }) }}" style="color:black">{{ entity.location }}</a>
			</div>
			
			<div style="float:right;width:100px;">
				{% if entity.type == 0 %}
					<span class="label success">Empleo</span>
				{% elseif entity.type == 1 %}
					<span class="label notice">Freelance</span>
				{% else %}
					<span class="label warning">Prácticas</span>
				{% endif %}<br/>
				<span class="date">{{ entity.date|date('d/m/Y') }}</span>
			</div>
			

			




			<!--<b>{{ categories[ entity.getCategoryId() ] }}</b>-->
			<br class="clear"/>
            
        </div>
    {% endfor %}






{{ pager|raw }}




{% endblock %}



{% block script_load %}

{% if home %}
	
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/EJ9MNe5mnqsdtWENt31fw.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();

{% endif %}
	
{% endblock %}