{% set nav_post = 1 %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Anuncios" %}


{% block sidebar %}
	<a href="{{ path('post_new') }}" class="btn large primary">Publicar anuncio</a>
	<br/>

	<b>Filtrar por categoría</b><br/>
	{% for category in categories %}
		<a href="{{ path('post_feed') }}?c={{loop.index0}}" class="rss"><img src="{{ asset( 'bundles/applicationanuncios/images/rss.png' ) }}" width="12" height="12"/></a>
		<a href="{{ path('post_search') }}?c={{loop.index0}}">{{category}}</a>
	{% endfor %}
	
	<br/>
	
	<form style="" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=betabeersjobs', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><b>Suscribete por email</b><br/><br/><input type="text" style="width:100px" name="email"/> <input type="hidden" value="betabeersjobs" name="uri"/><input type="hidden" name="loc" value="es_ES"/><input type="submit" value="Enviar" class="btn" /></form>
	
{% endblock %}



{% block content %}


<h1>Anuncios</h1>




<ul>
    {% for entity in entities %}
        <li>
			<b>{{ categories[ entity.getCategoryId() ] }}</b><br/>
            <a href="{{ path('post_show', { 'id': entity.id }) }}" class="title">{{ entity.title }}</a><br/>
            {{ entity.body|truncate(200) }}<br/>
            <span class="date">{{ entity.date|date('d/m/Y') }}</span>
			<br/><br/>
        </li>
    {% endfor %}
</ul>





{{ pager|raw }}




{% endblock %}