{% set nav_post = 1 %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Anuncios" %}


{% block sidebar %}
	<a href="{{ path('post_new') }}" class="btn large primary">Publicar anuncio</a>
	<br/>

	<b>Filtrar por categoría</b><br/>
	{% for category in categories %}
		<a href="{{ path('post_feed') }}?c={{loop.index0}}" class="rss"><img src="{{ asset( 'bundles/applicationanuncios/images/rss.png' ) }}" width="12" height="12"/></a>
		<a href="{{ path('post') }}?c={{loop.index0}}">{{category}}</a>
	{% endfor %}
	
	<br/>
	
	<form style="" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=betabeersjobs', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><b>Suscribete por email</b><br/><br/><input type="text" style="width:100px" name="email"/> <input type="hidden" value="betabeersjobs" name="uri"/><input type="hidden" name="loc" value="es_ES"/><input type="submit" value="Enviar" class="btn" /></form>
	
{% endblock %}



{% block content %}


{% if users %}
	<div style="background:#FFFFCC;padding:10px;margin-bottom:10px">
	<b style="display:block;margin-bottom:10px;font-weight:bold">¿Buscas freelance?</b>
	
	<select style="float:right" onchange="if(this.value){document.location = '{{ path('user_freelance') }}?c=' + this.value;}">
	<option value="">Buscar por categoria...</option>
	{% for category in categories %}
		<option value="{{loop.index0}}">{{category}}</option>
	{% endfor %}
	</select>
	
	{% for user in users %}
		<a href="{{ path('user_show', { 'id': user.id }) }}" data-original-title="<b>{{ categories[ user.getCategoryId() ] }}</b><br/>{{ user.getName() }}" rel="twipsy" style="float:left;margin-right:5px"><img src="{{ user.getAvatar('normal') }}" width="38" height="38"/></a>
	{% endfor %}
	<br class="clear"/>
	</div>
{% endif %}


<h1>Anuncios</h1>




<ul>
    {% for entity in entities %}
        <li style="margin-bottom:20px;" {% if entity.featured == 1 %}class="featured"{% endif %}">

			{% if entity.type == 0 %}
				<span class="label success">Empleo</span>
			{% else %}
				<span class="label notice">Freelance</span>
			{% endif %}
            <a href="{{ path('post_show', { 'id': entity.id }) }}" class="title">{{ entity.title }}</a><br/>
			<b>{{ categories[ entity.getCategoryId() ] }}</b><br/>
            {{ entity.body|truncate(200) }}<br/>
            <span class="date">{{ entity.date|date('d/m/Y') }} {% if entity.location %}- {{ entity.location }}{% endif %}</span>
        </li>
    {% endfor %}
</ul>





{{ pager|raw }}




{% endblock %}