{% set nav_post = 1 %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Bolsa de empleo" %}


{% block sidebar %}
	<a href="{{ path('post_new') }}" class="btn large primary" style="font-weight:bold;font-size:20px;">Publicar empleo</a>
	
	<br/>
	
	<b>Empresas que buscan talento</b><br/>
	<a href="http://dir.betabeers.com/post/search?q=softonic"><img src="{{ asset( 'bundles/applicationanuncios/images/companies/softonic.png' ) }}"/></a>
	<a href="http://dir.betabeers.com/post/search?q=idealista"><img src="{{ asset( 'bundles/applicationanuncios/images/companies/idealista.png' ) }}"/></a>
	<a href="http://dir.betabeers.com/post/search?q=11870"><img src="{{ asset( 'bundles/applicationanuncios/images/companies/11870.png' ) }}"/></a>
	<a href="http://dir.betabeers.com/post/search?q=rentalia"><img src="{{ asset( 'bundles/applicationanuncios/images/companies/rentalia.png' ) }}"/></a>
	

	<br/>

	<b>Categorías</b><br/>
	{% for category in categories %}
		{% if loop.index0 != 0 and loop.index0 != 13 %}
			<!--<a href="{{ path('post_feed') }}?c={{loop.index0}}" class="rss"><img src="{{ asset( 'bundles/applicationanuncios/images/rss.png' ) }}" width="12" height="12"/></a>-->
			<a href="{{ path('post') }}?c={{loop.index0}}">{{category}}</a>
		{% endif %}
	{% endfor %}
	

	
{% endblock %}



{% block content %}

<!--
{% if home %}

	<div style="background:#FFC;padding:10px;margin-bottom:18px">

		<form style="float:right;margin-bottom:0;" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=betabeersjobs', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><input placeholder="Tu email" type="text" style="width:100px" name="email"/> <input type="hidden" value="betabeersjobs" name="uri"/><input type="hidden" name="loc" value="es_ES"/><input type="submit" value="Recibir ofertas" class="btn" /></form>
	
		<div style="float:left;width:150px;overflow:hidden;padding-top:5px;">
			<a href="https://twitter.com/betabeers" class="twitter-follow-button" data-show-screen-name="false" data-lang="es">Seguir</a>
			<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
		</div>		
		<iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/pages/Betabeers/184600811561767&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;float:left;padding-top:5px;margin-left:10px" allowTransparency="true"></iframe>
		<br class="clear"/>
	</div>


	{% if users %}



		<div style="border:1px #D6EBFF solid;margin-bottom:10px">
			<div style="padding:10px">
			<select style="opacity:0.5;float:right" onchange="if(this.value){document.location = '{{ path('user_freelance') }}?c=' + this.value;}">
			<option value="">Buscar por categoria...</option>
			{% for category in categories %}
				<option value="{{loop.index0}}">{{category}}</option>
			{% endfor %}
			</select>
			<b style="display:block;margin-bottom:10px;font-weight:bold">¿Buscas freelance?</b>
		
			<div class="user_box" style="height:50px;max-height:50px;overflow:hidden">
			{% for user in users %}
				<div style="display:none">
				<img src="{{ user.getAvatar('normal') }}" width="38" height="38" style="float:left;margin-right:10px"/>
				<a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.getName() }}</a> <span class="date">{{ categories[ user.getCategoryId() ] }}</span><br/>
				<span id="body">{{ user.body|truncate(150)|nl2br }}</span>
				</div>
			{% endfor %}
			</div>
			</div>
			<div style="margin-top:5px;padding:5px;background:#EAF5FF"><a href="#" id="btn_more" style="display:block;text-align:center">Ver otro freelance</a></div>
		</div>
	


	
	{% endif %}

{% endif %}
-->


<div style="float:left;width:150px;overflow:hidden;">
	<a href="https://twitter.com/betabeers" class="twitter-follow-button" data-show-screen-name="false" data-lang="es">Seguir</a>
	<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
</div>		
<iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/pages/Betabeers/184600811561767&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;float:left;margin-left:20px" allowTransparency="true"></iframe>

<br class="clear"/>

<div style="float:right;margin-top:13px;padding:7px;background:#FDF5D9">
	<a href="{{ path('post_feed') }}" style="background:url('{{ asset( 'bundles/applicationanuncios/images/rss.png' ) }}') no-repeat left center;padding-left:20px;font-weight:bold;color:orange">Recibir ofertas de empleo</a>
	<form style="padding-top:8px;margin-bottom:0" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=betabeersjobs', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><input placeholder="Tu email" type="text" style="width:100px" name="email"/> <input type="hidden" value="betabeersjobs" name="uri"/><input type="hidden" name="loc" value="es_ES"/><input type="submit" value="Apuntarme" class="btn" /></form>
</div>
<div style="float:left;margin-top:5px">
	<h1>Bolsa de empleo</h1>
	<form action="{{ path('post_search') }}">
		<input name="q" placeholder="Posicíón, keyword o empresa" style="width:250"/> <input value="Buscar" type="submit" class="btn primary" style="font-weight:bold"/>
	</form>
</div>


<br class="clear"/>



    {% for entity in entities %}
		<div style="padding:15px 0;border-top:1px #efefef solid;{% if entity.featured != 1 and loop.index is divisibleby(2) %}background:#F6F6F6{% endif %}" {% if entity.featured == 1 %}class="featured"{% endif %}>

			<div style="float:left;width:415px;padding-left:15px">
				<a href="{{ path('post_show', { 'id': entity.id }) }}" class="title" style="font-size:16px;line-height:16px;font-weight:bold;">{{ entity.title }}</a>
				<!--<br/>{{ entity.body|truncate(130) }}-->
			</div>
			
			<div style="float:left;width:130px;margin-left:10px">
				<a href="{{ path('post_city', { 'id': entity.getCityId() }) }}" style="color:black">{{ entity.location }}</a><br/>
				<span class="date">{{ entity.date|date('d/m/Y') }}</span>
			</div>
			

			

			<!--
			{% if entity.type == 0 %}
				<span class="label success">Empleo</span>
			{% elseif entity.type == 1 %}
				<span class="label notice">Freelance</span>
			{% else %}
				<span class="label warning">Prácticas</span>
			{% endif %}
			-->


			<!--<b>{{ categories[ entity.getCategoryId() ] }}</b>-->
			<br class="clear"/>
            
        </div>
    {% endfor %}






{{ pager|raw }}




{% endblock %}



{% block script_load %}

	/*
	var i = 0;
	var total = $('.user_box div').size();
	function showMoreFreelancers(){
		if( i >= total ) i = 0;
		$('.user_box div').hide();
		$('.user_box div').eq(i).show();
		i++;
	}
	showMoreFreelancers();
	$('#btn_more').click(function(){
		showMoreFreelancers();
		return false;
	});
	*/
	
{% endblock %}