{% set nav_post = 1 %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Anuncios" %}


{% block sidebar %}
	<a href="{{ path('post_new') }}" class="btn large primary">Publicar anuncio</a>
	<br/>

	<b>Filtrar por categoría</b><br/>
	{% for category in categories %}
		<a href="{{ path('post_feed') }}?c={{loop.index0}}" class="rss"><img src="{{ asset( 'bundles/applicationanuncios/images/rss.png' ) }}" width="12" height="12"/></a>
		<a href="{{ path('post') }}?c={{loop.index0}}">{{category}}</a>
	{% endfor %}
	
	<br/>
	
	<form style="" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=betabeersjobs', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><b>Suscribete por email</b><br/><br/><input type="text" style="width:100px" name="email"/> <input type="hidden" value="betabeersjobs" name="uri"/><input type="hidden" name="loc" value="es_ES"/><input type="submit" value="Enviar" class="btn" /></form>
	
{% endblock %}



{% block content %}


{% if users %}



	<div style="border:2px #D6EBFF solid;margin-bottom:10px">
		<div style="padding:10px">
		<select style="float:right" onchange="if(this.value){document.location = '{{ path('user_freelance') }}?c=' + this.value;}">
		<option value="">Buscar por categoria...</option>
		{% for category in categories %}
			<option value="{{loop.index0}}">{{category}}</option>
		{% endfor %}
		</select>
		<b style="display:block;margin-bottom:10px;font-weight:bold">¿Buscas freelance?</b>
		
		<div class="user_box" style="height:50px;max-height:50px;overflow:hidden">
		{% for user in users %}
			<div style="display:none">
			<img src="{{ user.getAvatar('normal') }}" width="38" height="38" style="float:left;margin-right:10px"/>
			<a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.getName() }}</a> <span class="date">{{ categories[ user.getCategoryId() ] }}</span><br/>
			<span id="body">{{ user.body|truncate(150)|nl2br }}</span>
			</div>
		{% endfor %}
		</div>
		</div>
		<div style="margin-top:5px;padding:5px;background:#EAF5FF"><a href="#" id="btn_more" style="display:block;text-align:center">Ver más</a></div>
	</div>
	


	
{% endif %}


<h1>Anuncios</h1>




<ul>
    {% for entity in entities %}
        <li style="margin-bottom:20px;" {% if entity.featured == 1 %}class="featured"{% endif %}">

			{% if entity.type == 0 %}
				<span class="label success">Empleo</span>
			{% elseif entity.type == 1 %}
				<span class="label notice">Freelance</span>
			{% else %}
				<span class="label warning">Prácticas</span>
			{% endif %}

            <a href="{{ path('post_show', { 'id': entity.id }) }}" class="title">{{ entity.title }}</a><br/>
			<b>{{ categories[ entity.getCategoryId() ] }}</b><br/>
            {{ entity.body|truncate(200) }}<br/>
            <span class="date">{{ entity.date|date('d/m/Y') }} {% if entity.location %}- <a href="{{ path('post_city', { 'id': entity.getCityId() }) }}" class="date">{{ entity.location }}</a>{% endif %}</span>
        </li>
    {% endfor %}
</ul>





{{ pager|raw }}




{% endblock %}



{% block script_load %}
	var i = 0;
	var total = $('.user_box div').size();
	function showMoreFreelancers(){
		if( i >= total ) i = 0;
		$('.user_box div').hide();
		$('.user_box div').eq(i).show();
		i++;
	}
	showMoreFreelancers();
	$('#btn_more').click(function(){
		showMoreFreelancers();
		return false;
	});
	
{% endblock %}