{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% form_theme form 'ApplicationAnunciosBundle:Form:fields.html.twig' %}

{% block title "Publicar anuncio" %}

{% block content %}

<h1>Publicar anuncio</h1>

<style>
TEXTAREA.xlarge{width:500px}
</style>

{% if app.session.get('id') %}

<form action="{{ path('post_create') }}" method="post" {{ form_enctype(form) }}>

	{{ form_errors(form) }}
	
	<div class="clearfix">
		<label>Categoría</label>
		<div class="input">
			<select id="application_anunciosbundle_posttype_category_id" name="application_anunciosbundle_posttype[category_id]">
				{% for category in categories %}
					{% if loop.index0 > 0 %}
						<option value="{{loop.index0}}">{{category}}</a>
					{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>

	{{ form_row(form.title, { 'label': 'Titulo' }) }}
	
	{{ form_row(form.body, { 'label': 'Descripción' }) }}
	
	{{ form_row(form.email, { 'label': 'Email' }) }}
	
	{{ form_row(form.location, { 'label': 'Localización' }) }}

	{{ form_row(form.price, { 'label': 'Precio' }) }}

	<div class="actions">
        <button type="submit" class="btn primary">Publicar</button>
	</div>

	{{ form_row(form._token) }}

</form>




<script src="{{ asset('bundles/applicationanuncios/bootstrap/js/bootstrap-popover.js') }}"></script>
<script>
$(function () {
	$('#application_anunciosbundle_posttype_location')
		.attr('rel','popover')
		.attr('data-original-title','¿Es presencial?')
		.attr('data-content','Si es un empleo que requiera asistir introduce la ciudad, si es un trabajo freelance que no importa de donde es la persona no hace falta rellenar este campo');

		$('#application_anunciosbundle_posttype_price')
			.attr('rel','popover')
			.attr('data-original-title','¿Es un trabajo freelance?')
			.attr('data-content','Introduce un precio, puedes poner un valor fijo o un rango de precios');

	$("*[rel=popover]")
		.popover({offset: 10})
		.click(function(e) {
			e.preventDefault()
		});
});
</script>




{% else %}
	Area restringida, solo accesible para usuarios
{% endif %}

{% endblock %}