{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% form_theme form 'ApplicationAnunciosBundle:Form:fields.html.twig' %}

{% block title "Publicar anuncio" %}

{% block content %}

<h1>Publicar anuncio</h1>


{% if app.session.get('id') %}

<form action="{{ path('post_create') }}" method="post" {{ form_enctype(form) }}>



	{{ form_errors(form) }}

	{{ form_row(form.title, { 'label': 'Titulo' }) }}
	
	{{ form_row(form.body, { 'label': 'Descripción' }) }}
	
	{{ form_row(form.email, { 'label': 'Email' }) }}
    
	<div class="clearfix">
		<label>Categoría</label>
		<div class="input">
			<select id="application_anunciosbundle_posttype_category_id" name="application_anunciosbundle_posttype[category_id]">
				{% for category in categories %}
					{% if loop.index0 > 0 %}
						<option value="{{loop.index0}}">{{category}}</a>
					{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="actions">
        <button type="submit" class="btn primary">Publicar</button>
	</div>

	{{ form_row(form._token) }}

</form>

{% else %}
	Area restringida, solo accesible para usuarios
{% endif %}

{% endblock %}