{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% form_theme form 'ApplicationAnunciosBundle:Form:fields.html.twig' %}

{% block title "Publicar anuncio" %}

{% block content %}

<h1>Publicar anuncio</h1>

<style>
TEXTAREA.xlarge{width:430px}
#application_anunciosbundle_posttype_type label{float:none;margin:0 20px 0 5px}
</style>

{% if app.session.get('id') %}

<form action="{{ path('post_create') }}" method="post" {{ form_enctype(form) }}>

	{{ form_errors(form) }}


	{{ form_row(form.type, { 'label': 'Tipo' }) }}

	
	<div class="clearfix">
		<label>Perfil</label>
		<div class="input">
			<select id="application_anunciosbundle_posttype_category_id" name="application_anunciosbundle_posttype[category_id]">
				{% for category in categories %}
					{% if loop.index0 > 0 %}
						<option value="{{loop.index0}}">{{category}}</a>
					{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>

	{{ form_row(form.title, { 'label': 'Titulo' }) }}
	
	{{ form_row(form.body, { 'label': 'Descripción' }) }}
	
	{{ form_row(form.company, { 'label': 'Empresa' }) }}
	
	{{ form_row(form.email, { 'label': 'Email' }) }}
	
	<div id="price">
		{{ form_row(form.price, { 'label': 'Sueldo' }) }}
	</div>
	
	<div id="geo">
	{{ form_row(form.location, { 'label': 'Localidad' }) }}
	<div class="hide">
		{{ form_row(form.country_id, { 'label': 'country' }) }}
		{{ form_row(form.city_id, { 'label': 'city' }) }}
	</div>
	</div>



	<div class="actions">
        <button type="submit" class="btn primary" style="width:150px">Publicar</button>
	</div>

	{{ form_row(form._token) }}

</form>

{% else %}
	Area restringida, solo accesible para usuarios
{% endif %}

{% endblock %}

{% block script_load %}
	
autoGeo();







{% endblock %}