{% set categories = ["Todos", "Programador frontend", "Programador backend", "Programador apps móvil", "Blogger", "Community manager", "Marketing", "SEO", "Diseñador", "Usabilidad", "Sysadmin", "Traductor", "Betatester", "Otros", "Maquetador"] %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
	<title>*|MC:SUBJECT|*</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

<div style="background:#F0F0F0;padding-bottom:25px">

<table cellspacing="0" cellpadding="25" style="background:white;margin:auto;width:650px;font-family:arial;font-size:15px">
<tr>
	<td valign="top">
	
		<a href="http://betabeers.com" target="_blank" style="display:block;margin-bottom:20px;"><img src="http://betabeers.com/wp-content/themes/mejorandola/images/betabeers_logo_landing.png"></a>

		<br/>

		<b>Próximos eventos</b><br/><br/>

	    {% for entity in events %}
			<a href="{{ path('event_show', { 'id': entity.id }) }}" target="_blank" style="display:block;margin-bottom:20px;color:#267DD3;text-decoration:none;">{{ entity.title }} - {{ entity.getPrettyDate('%e %B') }}</a>
	    {% endfor %}

		<br/>

		<b>Últimos temas en el foro</b><br/><br/>

		{% for entity in threads %}
			{% if loop.index < 6 %}
				<a href="{{ entity.link }}" target="_blank" style="display:block;margin-bottom:20px;color:#267DD3;text-decoration:none;">{{ entity.title }}</a>
			{% endif %}
		{% endfor %}
	
	
		<br/>

		<b>¿Cansado de tu trabajo?</b><br/><br/>
	    {% for entity in posts %}
				<a href="{{ path('post_show', { 'id': entity.id }) }}" target="_blank" style="display:block;margin-bottom:20px;color:#267DD3;text-decoration:none;">{{ entity.title }}</a>
	    {% endfor %}

	
	</td>
	<td valign="top" style="width:220px;background:#D7F2FF;">
		<a href="http://dir.betabeers.com/user/invite" target="_blank" style="font-weight:bold;background:#FFC;padding:10px;text-align:center;color:#267DD3;text-decoration:none;display:block;margin-bottom:20px;">Invitar contactos</a>
		
		<a href="http://betabeers.com/book" target="_blank" style="color:#267DD3;text-decoration:none;display:block;margin-bottom:20px;">Descargar entrevistas en PDF</a>
		<a href="http://betabeers.com/quieres-presentar-en-betabeers/" target="_blank" style="color:#267DD3;text-decoration:none;display:block;margin-bottom:20px;">¿Tienes un proyecto?</a>
		<a href="http://dir.betabeers.com/user/freelance" target="_blank" style="color:#267DD3;text-decoration:none;display:block;margin-bottom:20px;">¿Buscas freelance?</a>
		<a href="http://groups.google.com/forum/#!forum/beta-beers" target="_blank" style="color:#267DD3;text-decoration:none;display:block;margin-bottom:20px;">Ver temas del foro</a>
		
		<br/>

		Gente por conocer<br/><br/>

		{% for entity in users %}
			<img src="{{ entity.getAvatar('normal') }}" alt="{{ entity.name }}" style="float:left;margin-right:10px" width="35" height="35"/>
			<a href="{{ path('user_show', { 'id': entity.id }) }}" target="_blank" style="color:#267DD3;text-decoration:none;display:block">{{ entity.name|truncate(21) }}</a>
			<span style="color:#999">{{ categories[ entity.getCategoryId() ] }}</span>
			<br style="clear:both"/><br/>
		{% endfor %}
	</td>


</div>
</div>

</body>
</html>