{% set nav_post = 1 %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "¿Buscas trabajo?" %}


{% block sidebar %}
	<a href="{{ path('user_edit') }}" class="btn primary">Editar perfil</a>
{% endblock %}



{% block content %}


<h1>¿Buscas trabajo?</h1>



{% if entities %}
	Ofertas de trabajo relacionadas con tu perfil:<br/><br/>
	<ul>
	    {% for entity in entities %}
	        <li>
				<b>{{ categories[ entity.getCategoryId() ] }}</b><br/>
	            <a href="{{ path('post_show', { 'id': entity.id }) }}" class="title">{{ entity.title }}</a><br/>
	            {{ entity.body|truncate(200) }}<br/>
	            <span class="date">{{ entity.date|date('d/m/Y') }}</span>
				<br/><br/>
	        </li>
	    {% endfor %}
	</ul>
	{{ pager|raw }}
{% else %}
	No se encuentran trabajos relacionados con tu perfil.
{% endif %}







{% endblock %}