{% if form_type == 1 %}
	{% set nav_colaboration = 1 %}
{% else %}
	{% set nav_post = 1 %}
{% endif %}

{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Buscar anuncios" %}

{% block sidebar %}
	<a href="{{ path('post_new') }}{% if form_type == 1 %}?type=1{% endif %}" class="btn btn-large btn-primary">Publicar empleo</a>


	<b>Filtrar por categoría</b><br/><br/>
	<ul>
	{% for category in categories %}
		<li><a href="{{ path('post_search') }}?c={{loop.index0}}&t={{ form_type }}">{{category}}</a></li>
	{% endfor %}
	</ul>
	

{% endblock %}

{% block content %}


<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('post') }}">Anuncios</a> <span class="divider">/</span></li>	
  {% if form_category %}
  	<li><a href="{{ path('post_search') }}?c={{ form_category }}">{{ categories[ form_category ] }}</a> <span class="divider">/</span></li>
  {% endif %}
  <li class="active">Buscar</li>
</ul>



<h1>Buscar anuncios</h1>


{% if entities %}


{% for entity in entities %}
	<div style="padding:10px 0;border-top:1px #efefef solid;{% if entity.featured != 1 and loop.index is divisibleby(2) %}background:#F6F6F6{% endif %}" {% if entity.featured == 1 %}class="featured"{% endif %}>

		<div style="float:left;width:415px;padding-left:15px">
			<a href="{{ path('post_show', { 'id': entity.id, 'slug': entity.slug }) }}" class="title" style="font-size:15px;line-height:16px;font-weight:bold;">{{ entity.title }}</a><br/>
			{% if entity.company %}
				{{ entity.company }} - 
			{% endif %}
			<a href="{{ path('post_city', { 'id': entity.getCityId() }) }}" style="color:black">{{ entity.location }}</a>
		</div>
		
		<div style="float:right;width:100px;">
			{% if entity.type == 0 %}
				<span class="label label-success">Empleo</span>
			{% elseif entity.type == 1 %}
				<span class="label label-info">Freelance</span>
			{% else %}
				<span class="label label-warning">Prácticas</span>
			{% endif %}<br/>
			<span class="date">{{ entity.date|date('d/m/Y') }}</span>
		</div>
		

		




		<!--<b>{{ categories[ entity.getCategoryId() ] }}</b>-->
		<br class="clear"/>
        
    </div>
{% endfor %}


{% else %}
	sin resultados, prueba con otra busqueda
{% endif %}

{% endblock %}