{% set nav_post = 1 %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Buscar anuncios" %}

{% block sidebar %}
	<a href="{{ path('post_new') }}" class="btn large primary">Publicar anuncio</a>
	<br/>

	<b>Filtrar por categoría</b><br/>
	{% for category in categories %}
		<a href="{{ path('post') }}search?c={{loop.index0}}">{{category}}</a>
	{% endfor %}
{% endblock %}

{% block content %}


<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('post') }}">Anuncios</a> <span class="divider">/</span></li>
  <li><a href="{{ path('post_search') }}?c={{ form_category }}">{{ categories[ form_category ] }}</a> <span class="divider">/</span></li>
  <li class="active">Buscar <span class="divider">/</span></li>
</ul>

<h1>Buscar anuncios</h1>


{% if entities %}
	<ul>
		{% for entity in entities %}
	       <li>
	           <a href="{{ path('post_show', { 'id': entity.id }) }}" class="title">{{ entity.title }}</a><br/>
	           {{ entity.body|truncate(200) }}<br/>
	           <span class="date">{{ entity.date|date('d/m/Y') }}</span>
			<br/><br/>
	       </li>
	   {% endfor %}
	</ul>

{% else %}
	sin resultados, prueba con otra busqueda
{% endif %}

{% endblock %}