{% if form_type == 1 %}
	{% set nav_colaboration = 1 %}
{% else %}
	{% set nav_post = 1 %}
{% endif %}

{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Buscar anuncios" %}

{% block sidebar %}
	<a href="{{ path('post_new') }}{% if form_type == 1 %}?type=1{% endif %}" class="btn large primary">Publicar anuncio</a>
	<br/>

	<b>Filtrar por categoría</b><br/>
	{% for category in categories %}
		<a href="{{ path('post_feed') }}?c={{loop.index0}}&t={{ form_type }}" class="rss"><img src="{{ asset( 'bundles/applicationanuncios/images/rss.png' ) }}" width="12" height="12"/></a>
		<a href="{{ path('post_search') }}?c={{loop.index0}}&t={{ form_type }}">{{category}}</a>
	{% endfor %}
	
	<br/>
	
	<form style="" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=betabeersjobs', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><b>Suscribete por email</b><br/><br/><input type="text" style="width:100px" name="email"/> <input type="hidden" value="betabeersjobs" name="uri"/><input type="hidden" name="loc" value="es_ES"/><input type="submit" value="Enviar" class="btn" /></form>
	
	<!--<a href="http://feeds.feedburner.com/betabeersjobs"><img src="http://feeds.feedburner.com/~fc/betabeersjobs?bg=99CCFF&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a>-->
{% endblock %}

{% block content %}


<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('post') }}">Anuncios</a> <span class="divider">/</span></li>	
  {% if form_category %}
  	<li><a href="{{ path('post_search') }}?c={{ form_category }}">{{ categories[ form_category ] }}</a> <span class="divider">/</span></li>
  {% endif %}
  <li class="active">Buscar</li>
</ul>



<h1>Buscar anuncios</h1>


{% if entities %}
	<ul>
		{% for entity in entities %}
	       <li>
	           <b>{{ categories[ entity.getCategoryId() ] }}</b><br/>
	           <a href="{{ path('post_show', { 'id': entity.id }) }}" class="title">{{ entity.title }}</a><br/>
	           {{ entity.body|truncate(200) }}<br/>
	           <span class="date">{{ entity.date|date('d/m/Y') }}</span>
			<br/><br/>
	       </li>
	   {% endfor %}
	</ul>

{% else %}
	sin resultados, prueba con otra busqueda
{% endif %}

{% endblock %}