{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% set share_url = url('post_show', { 'id': entity.id }) %}
{% set form_url = path('post_contact', { 'id': entity.id }) %}
{% block title entity.title %}


{% block sidebar %}
	{% include "ApplicationAnunciosBundle:Form:contact.html.twig" %}
	
	<br/><br/>
	
	<b>Compartir</b>
	
	<br/>
	
	<a href="http://twitter.com/?status={{ entity.title }} {{ share_url }} #betajobs" target="_blank">twitter</a>
	<a href="http://facebook.com/sharer.php?u={{ share_url }}&t={{ entity.title }}" target="_blank">facebook</a>
	<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ share_url }}&title={{ entity.title }}" target="_blank">linkedin</a>
	
{% endblock %}



{% block content %}


<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('post') }}">Anuncios</a> <span class="divider">/</span></li>
  <li class="active"><a href="{{ path('post_search') }}?c={{ entity.categoryid }}">{{ categories[ entity.categoryid ] }}</a> <span class="divider">/</span></li>
</ul>



<h1>{{ entity.title }}</h1>




	<pre>{{ entity.body }}</pre>
	



	Publicado por <a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.name }}</a> el {{ entity.date|date('d/m/Y') }}


<br/><br/>

{% if user.id == app.session.get('id') || app.session.get('admin') %}
	<a class="btn" href="{{ path('post_edit', { 'id': entity.id }) }}">Editar anuncio</a>

{% endif %}




{% endblock %}