{% if entity.type == 0 %}
	{% set nav_post = 1 %}
{% else %}
	{% set nav_colaboration = 1 %}
{% endif %}

{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% set share_url = url('post_show', { 'id': entity.id }) %}
{% set form_url = path('post_contact', { 'id': entity.id }) %}
{% block title entity.title %}
{% set location = entity.getLocation() %}
{% set price = entity.getPrice() %}

{% block sidebar %}
	{% include "ApplicationAnunciosBundle:Form:contact.html.twig" %}
	
	<br/><br/>
			
	{% if user.id == app.session.get('id') or app.session.get('admin') == 1 %}
		<a class="btn" href="{{ path('post_edit', { 'id': entity.id }) }}">Editar anuncio</a><br/>
	{% endif %}
	

	
	
	<b>Compartir</b>
	
	<br/>
	
	<a target="_blank" rel="nofollow,noindex" class="ico twitter" href="http://twitter.com/?status={{ entity.title }} {{ share_url }} #betajobs" target="_blank">twitter</a>
	<a target="_blank" rel="nofollow,noindex" class="ico facebook" href="http://facebook.com/sharer.php?u={{ share_url }}&t={{ entity.title }}" target="_blank">facebook</a>
	<a target="_blank" rel="nofollow,noindex" class="ico linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url={{ share_url }}&title={{ entity.title }}" target="_blank">linkedin</a>
	
	
	<br/><br/>
	
	{% if users %}
		<b style="display:block;margin-bottom:7px">Recomendados</b>
		
		{% for item in users %}
			<a href="{{ path('user_show', { 'id': item.id }) }}" style="float:left;margin-right:5px;padding-top:0;display:inline" data-original-title="{{ item.name }}" rel="twipsy"><img src="{{ item.getAvatar('normal') }}" width="40" height="40" /></a>
		{% endfor %}
	

	{% endif %}


	
	
	
{% endblock %}



{% block content %}

<style>
#sidebar{position: fixed;top: 60px;}
</style>


<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('post') }}">Anuncios</a> <span class="divider">/</span></li>
  <li class="active"><a href="{{ path('post_search') }}?c={{ entity.categoryid }}">{{ categories[ entity.categoryid ] }}</a></li>
</ul>



<h1>{{ entity.title }}</h1>


	
	{% if location %}
		Localización: {{ location }} &nbsp; &nbsp;
	{% endif %}
	
	{% if price %}
		Precio: {{ price }}
	{% endif %}

	{% if location or price %}
		<br/><br/>
	{% endif %}

	<pre>{{ entity.body }}</pre>

	<p>Publicado por <a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.name }}</a> el {{ entity.date|date('d/m/Y') }} - {{ entity.visits }} visitas</p>


	{% if entities %}
		<div style="border-top:1px #efefef solid;padding-top:15px;margin-top:25px">
			<b>Ofertas relacionadas</b><br/><br/>
			<ul>
			{% for entity in entities %}
				<li>
					<a href="{{ path('post_show', { 'id': entity.id }) }}">{{ entity.title }}</a><br/>
					<span class="date">{{ entity.date|date('d/m/Y') }} {% if entity.location %}- {{ entity.location }}{% endif %}</span>
				</li>
	    	{% endfor %}
			</ul>
		</div>
	{% endif %}



{% endblock %}