{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Estadísticas" %}

{% block content %}

<h1>Estadísticas</h1>


<table class="zebra-striped">
	
		<tr>
			<td width="180"><b class="pull-right">{{ total_users }}</b>Usuarios</td>
			<td width="180"><b class="pull-right">{{ total_fb }}</b>Facebook</td>
            <td width="180"><b class="pull-right">{{ total_ref }}</b>Referidos</td>
		</tr>
		<tr>
			<td><b class="pull-right">{{ total_unemployed }}</b>Buscan trabajo</td>
			<td><b class="pull-right">{{ total_freelance }}</b>Freelance</td>
			<td><b class="pull-right">{{ total_comments }}</b>Recomendaciones</td>
		</tr>
        <tr>
            <td><b class="pull-right">{{ total_posts }}</b>Anuncios</td>
            <td><b class="pull-right">{{ total_posts_freelance }}</b>Anuncios Freelance</td>
            <td><b class="pull-right">{{ total_posts_colaboracion }}</b>Colaboraciones</td>
        </tr>
</table>



<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Fecha');
    data.addColumn('number', 'Usuarios');
    data.addRows({{ users_month|length  }});


    {% for key, value in users_month %}
       data.setValue({{loop.index0}}, 0, '{{key}}');
       data.setValue({{loop.index0}}, 1, {{value}});
    {% endfor %}


    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, {width: 580, height: 240, title: 'Usuarios registrados 30 días'});
  }
</script>
<div id="chart_div"></div>

{% endblock %}