{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Estadísticas" %}


{% block sidebar %}


	<b>Top ciudades</b><br/><br/>


	<ul>
    {% for city in cities %}
		<li><a style="display:inline" href="{{ path('post_city', { 'id': city.id }) }}">{{ city.name }}</a> ({{ city.total }})</li>
    {% endfor %}
	</ul>
	
	



	
{% endblock %}

{% block content %}

<h1>Estadísticas</h1>


<table class="zebra-striped">
	
		<tr>
			<td width="180"><b class="pull-right">{{ total_users }}</b>Usuarios</td>
			<td><b class="pull-right">{{ total_fb }}</b>Facebook</td>
            <td><b class="pull-right">{{ total_ref }}</b>Referidos</td>
		</tr>
		<tr>
        	<td width="180"><b class="pull-right">{{ total_posts }}</b>Anuncios</td>
			<td><b class="pull-right">{{ total_posts_freelance }}</b>Anuncios Freelance</td>
            <td><b class="pull-right">{{ total_posts_internship }}</b>Practicas</td>			
		</tr>
        <tr>
			<td width="180"><b class="pull-right">{{ total_unemployed }}</b>Buscan trabajo</td>
			<td><b class="pull-right">{{ total_freelance }}</b>Freelance</td>
            <td><b class="pull-right">{{ total_comments }}</b>Recomendaciones</td>

        </tr>
        <tr>
            <td><b class="pull-right">{{ total_events }}</b>Eventos</td>
            <td><b class="pull-right">{{ total_joined }}</b>Apuntados</td>
            <td><b class="pull-right">{{ total_places }}</b>Espacios</td>
        </tr>
</table>



<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {

	// users

    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Fecha');
    data.addColumn('number', 'Usuarios');
    data.addRows({{ users_month|length  }});


    {% for key, value in users_month %}
       data.setValue({{loop.index0}}, 0, '{{key}}');
       data.setValue({{loop.index0}}, 1, {{value}});
    {% endfor %}


    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, {width: 580, height: 240, title: 'Usuarios registrados 30 días'});

	// posts

    var data2 = new google.visualization.DataTable();
    data2.addColumn('string', 'Fecha');
    data2.addColumn('number', 'Anuncios');
    data2.addRows({{ posts_month|length  }});


    {% for key, value in posts_month %}
       data2.setValue({{loop.index0}}, 0, '{{key}}');
       data2.setValue({{loop.index0}}, 1, {{value}});
    {% endfor %}


    var chart2 = new google.visualization.LineChart(document.getElementById('chart_div2'));
    chart2.draw(data2, {width: 580, height: 240, title: 'Ofertas publicadas 30 días', colors:['red'] });

  }
</script>
<div id="chart_div"></div>
<div id="chart_div2"></div>

<b>Top ofertas</b><br/><br/>

<ul>
    {% for entity in top_posts %}
		<li>
			<a href="{{ path('post_show', { 'id': entity.id, 'slug': entity.slug }) }}">
			{% if entity.type == 0 %}Empleo{% elseif entity.type == 1 %}Freelance{% else %}Prácticas{% endif %}, 
			{{ entity.title }}</a> ({{ entity.visits }} visitas)
        </li>
    {% endfor %}
</ul>

{% endblock %}