{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Estadísticas" %}

{% block content %}

<h1>Estadísticas</h1>


<table class="zebra-striped">
	
		<tr>
			<td width="180"><b class="pull-right">{{ total_users }}</b>Usuarios</td>
			<td width="180"><b class="pull-right">{{ total_unemployed }}</b>Buscan trabajo</td>
            <td width="180"><b class="pull-right">{{ total_posts }}</b>Anuncios</td>
		</tr>
		<tr>
			<td><b class="pull-right">{{ total_fb }}</b>Facebook</td>
			<td><b class="pull-right">{{ total_freelance }}</b>Freelance</td>
			<td><b class="pull-right">{{ total_posts_freelance }}</b>Anuncios Freelance</td>
		</tr>
        <tr>
            <td><b class="pull-right">{{ total_ref }}</b>Referidos</td>
            <td><b class="pull-right">{{ total_comments }}</b>Recomendaciones</td>
            <td><b class="pull-right">&nbsp;</td>
        </tr>
</table>



<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Fecha');
    data.addColumn('number', 'Usuarios');
    data.addRows({{ users_month|length  }});


    {% for key, value in users_month %}
       data.setValue({{loop.index0}}, 0, '{{key}}');
       data.setValue({{loop.index0}}, 1, {{value}});
    {% endfor %}


    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, {width: 580, height: 240, title: 'Usuarios registrados 30 días'});
  }
</script>
<div id="chart_div"></div>


<b>Top ofertas</b><br/>

<ul>
    {% for entity in top_posts %}
		<li>
			<a href="{{ path('post_show', { 'id': entity.id }) }}">
			{% if entity.type == 0 %}Empleo{% else %}Freelance{% endif %}, 
			{{ entity.title }}</a> ({{ entity.visits }} visitas)
        </li>
    {% endfor %}
</ul>


<b>Top ciudades</b><br/>

<ul>
    {% for city in cities %}
		<li>
			{{ city.name }} ({{ city.total }} ofertas)
        </li>
    {% endfor %}
</ul>


{% endblock %}