{% set static_id = 29 %}
{% set categories = ["Todos", "Programador frontend", "Programador backend", "Programador apps móvil", "Blogger", "Community manager", "Marketing", "SEO", "Diseñador", "Usabilidad", "Sysadmin", "Traductor", "Betatester", "Otros"] %}
{% set analytics_id = "UA-16938408-8" %}
{% set sitename = "Betabeers" %}
{% if form_category is not defined %}
	{% set form_category = "0" %}
{% endif %}
{% if form_type is not defined %}
	{% set form_type = "0" %}
{% endif %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% endblock %} - {{sitename}}</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>

	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="{{ asset('bundles/applicationanuncios/bootstrap/bootstrap.min.css') }}" type="text/css" media="all" />
	<link rel="stylesheet" href="{{ asset('bundles/applicationanuncios/css/main.css') }}?v={{ static_id }}" type="text/css" media="all" />
	
	<link rel="alternate" type="application/rss+xml" title="Betabeers jobs" href="http://feeds.feedburner.com/betabeersjobs" />
</head>
<body>

<style>
#menu_options{position:absolute;background:#efefef;color:white;width:210px;display:none}
	#menu_options a{color:#666;display:block;padding:10px;border-bottom:1px #ccc solid}
		#menu_options a:hover{background:#ccc;text-decoration:none}
</style>
	
<div class="topbar" id="topbar">
	<div class="fill">
		<div class="container">
			<a class="brand" href="{{ path('post') }}">{{sitename}}</a>
			<ul class="nav">


				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">Anuncios</a>
    				<ul class="dropdown-menu">
						<li><a href="{{ path('post') }}">Empleo</a></li>
						<li><a href="{{ path('post_search') }}?t=1">Freelance</a></li>
						<li><a href="{{ path('post_search') }}?t=2">Colaboraciones</a></li>
					</ul>
				</li>
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">Profesionales</a>
    				<ul class="dropdown-menu">
						<li><a href="{{ path('user') }}">Listado</a></li>
						<li><a href="{{ path('user_comments_all') }}">Recomendaciones</a></li>
						<li><a href="{{ path('user_freelance') }}">Freelance</a></li>
					</ul>
				</li>
				
				
			</ul>
			{% if nav_user is defined %}
				<form id="form_search" class="pull-left" action="{{ path('user') }}search">
			{% else %}
				<form id="form_search" class="pull-left" action="{{ path('post') }}search">
			{% endif %}
	            <input name="q" id="query" type="text" placeholder="Buscar" autocomplete="off" class="medium">
				<!--<input type="hidden" name="c" value="{{ form_category }}"/>-->
				<input type="hidden" name="t" id="input_type" value="{{ form_type }}"/>
				
				<div id="menu_options">
					<a href="#" onclick="$('#input_type').val('');$('#form_search').attr('action','{{ path('post') }}search').submit()">Buscar Empleos</a>
					<a href="#" onclick="$('#input_type').val(1);$('#form_search').attr('action','{{ path('post') }}search').submit()">Buscar Colaboraciones</a>
					<a href="#" onclick="$('#input_type').val('');$('#form_search').attr('action','{{ path('user') }}search').submit()">Buscar Profesionales</a>
				</div>
	        </form>
			<ul class="nav secondary-nav">
				{% if app.session.get('name') %}
					<li><a href="{{ path('user_invite') }}" class="label warning" style="line-height:10px;margin-top:10px;padding:5px 10px;background:#efefef;font-weight:normal;color:#000">Invitar</a></li>
					<li><a href="{{ path('user_show', { 'id': app.session.get('id') }) }}">{{ app.session.get('name') }}</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle config">&nbsp;</a>
        				<ul class="dropdown-menu">
							<li><a href="{{ path('user_edit') }}">Editar perfil</a></li>
							<li><a href="{{ path('user_comments', { 'id': app.session.get('id') }) }}">Recomendaciones</a></li>
							<li><a href="{{ path('post_recommend') }}">¿Buscas trabajo?</a></li>
							<li class="divider"></li>
							<li><a href="{{ path('user_logout') }}">Salir</a></li>
						</ul>
				{% else %}
					<a href="{{ path('user_welcome') }}">Iniciar sesión</a>
				{% endif %}
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="container">
	<div id="content">
		<div class="row">
			<div class="span10">
				{% block content %}{% endblock %}
			</div>
			<div class="span3 filters">
				{% block sidebar %}{% endblock %}
			</div>
		</div>
	</div>
	<div class="footer">
		<a href="http://twitter.com/betabeers" target="_blank">Sigue @betabeers en twitter</a>
		<div class="pull-right">
			<a href="{{ path('post_about') }}">¿Qué es esto?</a> &nbsp;&nbsp; 
			<a href="http://dirbeta.tumblr.com/" target="_blank">Blog</a> &nbsp;&nbsp; 
			<a href="{{ path('user_contact', { 'id': 9 }) }}">Contactar</a> &nbsp;&nbsp; 
			&copy; 2011 betabeers
		</div>
	</div>
</div>


<script src="{{ asset('bundles/applicationanuncios/bootstrap/js/bootstrap-dropdown.js') }}?v=2"></script>
<script src="{{ asset('bundles/applicationanuncios/bootstrap/js/bootstrap-modal.js') }}"></script>
<script src="{{ asset('bundles/applicationanuncios/bootstrap/js/bootstrap-twipsy.js') }}"></script>
<script src="{{ asset('bundles/applicationanuncios/bootstrap/js/bootstrap-popover.js') }}"></script>
<script src="{{ asset('bundles/applicationanuncios/bootstrap/js/bootstrap-tabs.js') }}"></script>
<script src="{{ asset('bundles/applicationanuncios/js/general.js') }}?v={{ static_id }}"></script>	
{% block load_src %}{% endblock %}
<script type="text/javascript">
/* onload */
$().ready(function(){

	{% block script_load %}{% endblock %}

	$('#topbar').dropdown();
	$("*[rel=twipsy]").twipsy({live: true, html: true});
	
	
	$('#query').focus(function(){
		$('#menu_options').show();
	});
	$('#query').blur(function(){
		setTimeout(function(){
			$('#menu_options').hide();
		},300);
	});

	
});

/* analytics */
var _gaq = _gaq || [];
_gaq.push(['_setAccount', '{{ analytics_id }}']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>


</body>
</html>