{% set static_id = 37 %}

{% set categories = ["Todos", "Programador frontend", "Programador backend", "Programador apps móvil", "Blogger", "Community manager", "Marketing", "SEO", "Diseñador", "Usabilidad", "Sysadmin", "Traductor", "Betatester", "Otros", "Maquetador"] %}

{% set categories_project = ["Todos","Viajes","Productividad","Classificados","Educación","Fotografía","Juegos","Música","Red social","Deportes","Salud","Ocio","Otros"] %}

{% set analytics_id = "UA-16938408-8" %}
{% set sitename = "Betabeers" %}
{% if form_category is not defined %}
	{% set form_category = "0" %}
{% endif %}
{% if form_type is not defined %}
	{% set form_type = "0" %}
{% endif %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% endblock %} - {{sitename}}</title>

	<meta name="google-site-verification" content="ggl4xKpndqsKTfoDqWE6jVaDAv2g_PRj1UIM64fs5Pc" />
	
	{% if canonical_url %}
		<link rel="canonical" href="{{ canonical_url }}"/>
	{% endif %}

	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="{{ asset('bundles/applicationanuncios/bootstrap/bootstrap.min.css') }}" type="text/css" media="all" />
	<link rel="stylesheet" href="{{ asset('bundles/applicationanuncios/css/main.css') }}?v={{ static_id }}" type="text/css" media="all" />
	
	<link rel="alternate" type="application/rss+xml" title="Betabeers jobs" href="http://feeds.feedburner.com/betabeersjobs" />
</head>
<body>


	
<div class="topbar" id="topbar">
	<div class="fill">
		<div class="container">
			<a class="brand" href="/">{{sitename}}</a>
			<ul class="nav">


				 
				<li class="dropdown">
					<a href="{{ path('post') }}">Empleo</a>
					<!--
    				<ul class="dropdown-menu">
    					<li class="hide_op"><a href="{{ path('post') }}">Empleo</a></li>
						<li><a href="{{ path('post_search') }}?t=1">Freelance</a></li>
						<li><a href="{{ path('post_search') }}?t=2">Colaboraciones</a></li>
					</ul>
					-->
				</li>
				
				<li class="dropdown">
					<a href="{{ path('user') }}" class="dropdown-toggle">Profesionales</a>
    				<ul class="dropdown-menu">
    					<li class="hide_op"><a href="{{ path('user') }}">Profesionales</a></li>
						<li><a href="{{ path('user_freelance') }}">Freelance</a></li>
						<li><a href="{{ path('user_comments_all') }}">Recomendaciones</a></li>
						<li><a href="{{ path('test') }}">Tests</a></li>
					</ul>
				</li>
				



				<li class="dropdown">
					<a href="{{ path('event') }}">Eventos</a>
				</li>
				
				<li class="dropdown">
					<a href="{{ path('place') }}">Coworking</a>
				</li>
				
			</ul>
			<form id="form_search" class="pull-left" action="{{ path('post') }}search">
	            <input name="q" id="query" type="text" placeholder="Buscar" autocomplete="off" class="medium">
				
				<div id="menu_options">
					<a href="#" onclick="$('#form_search').attr('action','{{ path('post') }}search').submit()">Buscar Empleos</a>
					<a href="#" onclick="$('#form_search').attr('action','{{ path('user') }}search').submit()">Buscar Profesionales</a>
					<a href="#" onclick="$('#form_search').attr('action','{{ path('event') }}search').submit()">Buscar Eventos</a>
				</div>
	        </form>
			<ul class="nav secondary-nav">
				{% if app.session.get('name') %}
					<li><a href="{{ path('user_invite') }}" class="label warning" style="line-height:10px;margin-top:10px;padding:5px 10px;background:#efefef;font-weight:normal;color:#000">Invitar</a></li>
					<li><a href="{{ path('user_show', { 'id': app.session.get('id') }) }}">{{ app.session.get('name') }}</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle config">&nbsp;</a>
        				<ul class="dropdown-menu">
							<li><a href="{{ path('user_edit') }}">Editar perfil</a></li>
							<li><a href="{{ path('user_comments', { 'id': app.session.get('id') }) }}">Recomendaciones</a></li>

							{% if app.session.get('admin') %}
								<li class="divider"></li>
								<li><a href="{{ path('post_stats') }}">Estadísticas</a></li>
								<li><a href="{{ path('post_admin') }}">Administrar anuncios</a></li>
								<li><a href="{{ path('user_admin') }}">Administrar usuarios</a></li>
								<li><a href="{{ path('event_admin') }}">Administrar eventos</a></li>
								<li><a href="{{ path('place_admin') }}">Administrar espacios</a></li>
							{% endif %}
							<li class="divider"></li>
							<li><a href="{{ path('user_logout') }}">Salir</a></li>
						</ul>
				{% else %}
					
					
					<li class="dropdown">
						<a href="{{ path('user_welcome') }}" class="dropdown-toggle">Iniciar sesión</a>
	    				<ul class="dropdown-menu">
							<li class="hide_op"><a href="{{ path('user_welcome') }}">Iniciar sesión</a></li>
							<li><a href="{{ path('user_fblogin') }}">Entra con facebook</a></li>
							<li><a href="{{ path('user_register') }}">Registrate</a></li>
						</ul>
					</li>
					
					
				{% endif %}
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="container">
	<div id="content">
		<div class="row">
			<div class="span10">
				{% block content %}{% endblock %}
			</div>
			<div class="span3 filters">
				<div id="sidebar">
					{% block sidebar %}{% endblock %}
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<a href="http://twitter.com/betabeers" target="_blank">Sigue @betabeers en twitter</a>
		<div class="pull-right">
			<a href="{{ path('post_about') }}">¿Qué es esto?</a> &nbsp;&nbsp; 
			<a href="http://dirbeta.tumblr.com/" target="_blank">Blog</a> &nbsp;&nbsp; 
			<a href="{{ path('user_contact', { 'id': 9 }) }}">Contactar</a> &nbsp;&nbsp; 
			&copy; 2011 betabeers
		</div>
	</div>
</div>



<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" />
<link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

<script src="{{ asset('bundles/applicationanuncios/bootstrap/js/bootstrap-dropdown.js') }}?v=6"></script>
<script src="{{ asset('bundles/applicationanuncios/bootstrap/js/bootstrap-modal.js') }}"></script>
<script src="{{ asset('bundles/applicationanuncios/bootstrap/js/bootstrap-twipsy.js') }}"></script>
<script src="{{ asset('bundles/applicationanuncios/bootstrap/js/bootstrap-popover.js') }}"></script>
<script src="{{ asset('bundles/applicationanuncios/bootstrap/js/bootstrap-tabs.js') }}"></script>
<script src="{{ asset('bundles/applicationanuncios/js/general.js') }}?v={{ static_id }}"></script>	
{% block load_src %}{% endblock %}
<script type="text/javascript">
/* onload */
$().ready(function(){

	{% block script_load %}{% endblock %}

	$('#topbar').dropdown();
	$("*[rel=twipsy]").twipsy({live: true, html: true, placement: 'below', animate: false});
	
	$('#query').focus(function(){
		$('#menu_options').show();
	});
	$('#query').blur(function(){
		setTimeout(function(){
			$('#menu_options').hide();
		},300);
	});

	
});

/* analytics */
var _gaq = _gaq || [];
_gaq.push(['_setAccount', '{{ analytics_id }}']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>


</body>
</html>